<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profesores</title>
  <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/inicioProfes.css">
  <link rel="stylesheet" href="/css/partialsCss/partials.css">
</head>

<body id="profesores">
  <%- include('../partials/header.ejs')%>
    <main>
      <!-- Carrusel principal -->
      <section id="slideProfes">
        <div class="contenedorSlide">
          <h1>Como comenzar?</h1>
          <div class="flexSlide">
            <div>
              <h2>1. Configura tu perfil</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Nobis placeat dolor porro nesciunt. Eius dolorum, asperiores
              </p>
            </div>
            <div>
              <h2>2. Empeza a dar tus clases</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Nobis placeat dolor porro nesciunt. Eius dolorum, asperiores
              </p>
            </div>
          </div>
         
        </div>

      </section>

      <!-- Caracteristicas -->
      <section>
        <div class="content-characteristics">
          <div class="caracteristicas one">
            <div class="circulo">
              <i class="far fa-user-circle"></i>
            </div>
            <h3>caracteritica 1</h3>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Tempora ea quod voluptate nisi nihil soluta vero quia excepturi.
            </p>
          </div>
          <div class="caracteristicas">
            <div class="circulo">
              <i class="far fa-user-circle"></i>
            </div>
            <h3>caracteritica 2</h3>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Tempora ea quod voluptate nisi nihil soluta vero quia excepturi.
            </p>
          </div>
          <div class="caracteristicas">
            <div class="circulo">
              <i class="far fa-user-circle"></i>
            </div>
            <h3>caracteritica 3</h3>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Tempora ea quod voluptate nisi nihil soluta vero quia excepturi.
            </p>
          </div>

        </div>

      </section>
      <!-- Seccion profesores -->
      <section id="profesores">
        <div class="section-profesores">
          <div class="title-profesores">
            <h2> Nuestros Alumnos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing ut diam arcu
              vivamus erat dictum. Ipsum scelerisque aenean cursus id quis enim sagittis nullam
              sodales. Integer augue id cursus massa duis donec gravida. Non faucibus rmentum
            </p>
          </div>
          <!-- grilla -->
          <div class="content-right">
            <div class="container-teacher">
              <div class="g-uno">
                <img src="/images/profe.png" alt="profe">
              </div>
              <div class="g-dos">
                <img src="/images/profe.png" alt="profe">
              </div>
              <div class="g-tres">
                <img src="/images/profe.png" alt="profe">
              </div>
              <div class="g-cuatro">
                <img src="/images/profe.png" alt="profe">
              </div>
              <div class="g-cinco">
                <img src="/images/profe.png" alt="profe">
              </div>
              <div class="g-seis">
                <img src="/images/profe.png" alt="profe">
              </div>
              <div class="g-siete">
                <img src="/images/profe.png" alt="profe">
              </div>
              <div class="g-ocho">
                <img src="/images/profe.png" alt="profe">
              </div>
              <div class="boton-mas">
                <button>Ver mas</button>
              </div>
              <!-- Seccion Estadisticas -->
              <div class="est" id="section-estadisticas">
                <div class="title-estadisticas">
                  <h2>Hola al Mundo cuenta con </h2>
                </div>
                <div class="cantidades">
                  <div>
                    <p class="number"> 50 </p>
                    <p class="text">Profesores</p>
                  </div>
                  <div>
                    <p class="number">+ 5000 </p>
                    <p class="text">Alumnos</p>
                  </div>
                  <div>
                    <p class="number"> 150 </p>
                    <p class="text">Temáticas</p>
                  </div>
                  <div>
                    <p class="number"> 4 </p>
                    <p class="text">Idomas</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- section Contacto -->
      <%- include('../partials/contact.ejs')%>
    </main>
    <!-- chat -->
    <%- include('../partials/chat.ejs')%>
      <!-- Footer -->
      <%- include('../partials/footer.ejs')%>
        <script src="/js/scriptHeader.js"></script>
        <script src="/js/scriptCarrusel.js"></script>

</body>

</html>


<!--<main>
        <section>
            <p>Como comenzar?<p>
            <ol>
                <li> Configura tu perfil
                    <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut amet eveniet qui eos,
                        minus odio eum magnam impedit soluta cumque perspiciatis nisi vero nesciunt itaque 
                        fugit adipisci minima, repudiandae nam!</div>
                </li>
                <li>Empeza a dar tus clases
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut amet eveniet qui eos,
                        minus odio eum magnam impedit soluta cumque perspiciatis nisi vero nesciunt itaque 
                        fugit adipisci minima, repudiandae nam!</div>
                </li>
            </ol>
        </section>

        <section>
            <div class="caracteristicas">
                <img src="." alt="descripcion de caracteristica 1">
                <div>caracteritica 1</div>
                <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Tempora ea quod voluptate nisi nihil soluta vero quia excepturi. 
                </div>
            </div>
            <div class="caracteristicas">
                <img src="." alt="descripcion de caracteristica 2">
                <div>caracteritica 2</div>
                <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Tempora ea quod voluptate nisi nihil soluta vero quia excepturi. 
                </div>
            </div>
            <div class="caracteristicas">
                <img src="." alt="descripcion de caracteristica 3">
                <div>caracteritica 3</div>
                <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Tempora ea quod voluptate nisi nihil soluta vero quia excepturi. 
                </div>
            </div>
        </section>
        <section> 
            <article>
                <div> Nuestros Profes</div>
                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing ut diam arcu 
                    vivamus erat dictum. Ipsum scelerisque aenean cursus id quis enim sagittis nullam 
                    sodales. Integer augue id cursus massa duis donec gravida. Non faucibus rmentum
                </div>
            </article>
            <div> Ver más</div>
            <article>
                <img src="" alt="foto de alumnos">
                <img src="" alt="foto de alumnos">
                <img src="" alt="foto de alumnos">
                <img src="" alt="foto de alumnos">
                <img src="" alt="foto de alumnos">
                <img src="" alt="foto de alumnos">
                <img src="" alt="foto de alumnos">
                <img src="" alt="foto de alumnos">
            </article>
            <article>
                <div>Hola al Mundo cuenta con </div>
                <div class="cantidades">
                    <div>
                        <div> 50 </div>
                        <div>Profesores</div>
                    </div>
                    <div>
                        <div> + 5000 </div>
                        <div>Alumnos</div>
                    </div>
                    <div>
                        <div> 150 </div>
                        <div>Temáticas</div>
                    </div>
                    <div>
                        <div> 3 </div>
                        <div>Idiomas</div>
                    </div>
                </div>
            </article>
        </section>
        <section>
            <div>Nuestros Servicios</div>
            <div class="bloquesDeServicios">
                <div>
                    <div>Conversación</div>
                    <div>Agregar al carrito</div>
                </div>
                <div>
                    <div>Perfecciona tu idioma para tu carrera</div>
                    <div>Agregar al carrito</div>
                </div>
                <div>
                    <div>Preparación de examenes</div>
                    <div>Agregar al carrito</div>
                </div>
                <div>
                    <div>Conectate con otras personas</div>
                    <div>Agregar al carrito</div>
                </div>
                <i class="fas fa-angle-left"></i>
                <i class="fas fa-angle-right"></i>
            </div>
        </section>
        <section class="contactoProfes">
            <div> Hola</div>
            <div> Envianos tu consulta y ne el menor tiempo estarás empezando a comunicarte con el mundo.</div>
            <div class="redes">
                <ul> 
                    <li>
                        <i class="fab fa-facebook-f"></i>
                        <span> holaalmundo</span>
                    </li>
                    <li>
                        <i class="fab fa-instagram"></i>
                        <span> holaalmundo</span>
                    </li>
                    <li>
                        <i class="fab fa-linkedin-in"></i>
                        <span> holaalmundo</span>
                        </li>
                    <li>
                        <i class="fab fa-whatsapp"></i>
                        <span>0303 456 shalalala</span>
                    </li>
                </ul>
            </div>
            <div class="formulario">
                <div>
                    <div>Nombre y apelllido</div>
                    <div>Email</div>
                    <div>Consulta</div>
                </div>
                <div>Enviar</div>
            </div>
        </section>-->