<!-- PROFESORES PARA ESTUDIANTES -->

<!DOCTYPE html>

<html lang="en">

<head>
       <meta charset="UTF-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title> Hola al Mundo </title>
       <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
       <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
             rel="stylesheet">
       <link href="/css/normalize.css" rel="stylesheet">
       <link href="/css/paquetesServicios-2.css" rel="stylesheet">
       <link href="/css/partialsCss/partials.css" rel="stylesheet">
       <link href="/css/popUpReserva.css" rel="stylesheet">
</head>

<body>

 <%- include('../partials/header.ejs')%>

 <main>

 <section class="container-filtros">

          <div class="container-header"> <h2> ¿Qué idioma te gustaría aprender? </h2> </div>

          <button class="btnFiltro"> Seleccionar uno o más idiomas <i class="fas fa-angle-down"> </i> </button>

          <div class="check">
               
               <div>
                    <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                    <label for="español"> Español </label>
               </div>

               <div>
                    <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                    <label for="ingles"> Inglés </label>
               </div>

               <div>
                    <input type="checkbox" name="idiomas" value="frances" id="frances" class="input-control">
                    <label for="frances"> Francés </label>
               </div>

               <div>
                    <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                    <label for="italiano"> Italiano </label>
               </div>

               <div>
                    <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                    <label for="aleman"> Alemán </label>
               </div>
          
               <div>
                    <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                    <label for="portugues"> Portugués </label>
               </div>

               <div>
                    <input type="checkbox" name="idiomas" value="turco" id="turco" class="input-control">
                    <label for="turco"> Turco </label>
               </div>
         
               <div>
                    <input type="checkbox" name="idiomas" value="chino" id="chino" class="input-control">
                    <label for="chino"> Chino </label>
               </div>
          
               <div>
                    <input type="checkbox" name="idiomas" value="japones" id="japones" class="input-control">
                    <label for="japones"> Japonés </label>
               </div>

               <div>
                    <input type="checkbox" name="idiomas" value="coreano" id="coreano" class="input-control">
                    <label for="coreano"> Coreano </label>
               </div>
               
          </div>
      
          <button class="btnFiltro"> Selecciona una temática <i class="fas fa-angle-down"> </i> </button>
          
          <div class="check">
          
               <div>
                    <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                    <label for="español"> Conversación individual/grupal </label>
               </div>

               <div>
                    <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                    <label for="ingles"> Clase individual/grupal </label>
               </div>
          
               <div>
                    <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                    <label for="portugues"> Preparación individual/grupal para exámenes </label>
               </div>
        
          </div>

          <button class="btnFiltro"> Selecciona una profesión <i class="fas fa-angle-down"> </i> </button>
          
          <div class="check">
               
               <div>
                    <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                    <label for="español"> Abogado </label>
               </div>

               <div>
                    <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                    <label for="ingles"> Contador </label>
               </div>
          
               <div>
                    <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                    <label for="portugues"> Periodista </label>
               </div>
               
               <div>
                    <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                    <label for="italiano"> Economista </label>
               </div>
          
               <div>
                    <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                    <label for="aleman"> Cocinero </label>
               </div>

               <div>
                    <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                    <label for="aleman"> Médico </label>
               </div>

               <div>
                    <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                    <label for="aleman"> Ingeniero </label>
               </div>

               <div>
                    <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                    <label for="aleman"> Arquitecto </label>
               </div>
        
        </div>

 </section>

 <section>
        
 <div class="containerProfes">

          <div class="contenedorImg">

               <div class="borde">
                    
                    <div class="hovereffect">

                         <div class="start">
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="far fa-star"> </i>
                              <i class="far fa-star"> </i>
                         </div>

                         <img class="img-responsive" src="/images/persona-03.png" />

                         <div class="overlay"> <button id="myBtn" class="reservar"> Reservar </button> </div>

                    </div>

               </div>
            
               <p class="nombre"> Lucio Garcia </p>

          </div>

          <div class="contenedorImg">

               <div class="borde">
                 
                    <div class="hovereffect">

                         <div class="start">
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="far fa-star"> </i>
                              <i class="far fa-star"> </i>
                         </div>

                         <img class="img-responsive" src="/images/persona-04.png" />

                         <div class="overlay"> <button id="myBtn" class="reservar"> Reservar </button> </div>

                    </div>

               </div>
         
            <p class="nombre"> Giuliana Ferreiro </p>

          </div>

          <div class="contenedorImg">

               <div class="borde">
              
                    <div class="hovereffect">

                         <div class="start">
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="far fa-star"> </i>
                              <i class="far fa-star"> </i>
                         </div>

                         <img class="img-responsive" src="/images/profeDos.png" />
                         
                         <div class="overlay"> <button id="myBtn" class="reservar"> Reservar </button> </div>

                    </div>

               </div>

               <p class="nombre"> Pedro Sosa </p>

          </div>

          <div class="contenedorImg">

            <div class="borde">
           
                 <div class="hovereffect">

                      <div class="start">
                           <i class="fas fa-star"> </i>
                           <i class="fas fa-star"> </i>
                           <i class="fas fa-star"> </i>
                           <i class="far fa-star"> </i>
                           <i class="far fa-star"> </i>
                      </div>

                      <img class="img-responsive" src="/images/persona-01.png" />
                      
                      <div class="overlay"> <button id="myBtn" class="reservar"> Reservar </button> </div>

                 </div>

            </div>

            <p class="nombre"> Maria Martino </p>

          </div>
          
          <div class="contenedorImg">

               <div class="borde">

                    <div class="hovereffect">

                         <div class="start">
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="far fa-star"> </i>
                              <i class="far fa-star"> </i>
                         </div>

                         <img class="img-responsive" src="/images/persona-06.png"  />

                         <div class="overlay"> <button id="myBtn" class="reservar"> Reservar </button> </div>

                    </div>

               </div>

               <p class="nombre"> Ariana Gonzales </p>

          </div>

          <div class="contenedorImg">

               <div class="borde">

                    <div class="hovereffect">

                         <div class="start">
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="far fa-star"> </i>
                              <i class="far fa-star"> </i>
                         </div>

                         <img class="img-responsive" src="/images/persona-08.png" />
                
                         <div class="overlay"> <button id="myBtn" class="reservar"> Reservar </button> </div>

                    </div>

               </div>

               <p class="nombre"> Manuel Perez </p>

          </div>

          <div class="contenedorImg">

               <div class="borde">

                    <div class="hovereffect">
                
                         <div class="start">
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="far fa-star"> </i>
                              <i class="far fa-star"> </i>
                         </div>

                         <img class="img-responsive" src="/images/persona-07.png" />

                         <div class="overlay"> <button id="myBtn" class="reservar"> Reservar </button> </div>

                    </div>

               </div>

               <p class="nombre"> Carla Arias </p>

          </div>

          <div class="contenedorImg">
               
               <div class="borde">
                    
                    <div class="hovereffect">

                         <div class="start">
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="fas fa-star"> </i>
                              <i class="far fa-star"> </i>
                              <i class="far fa-star"> </i>
                         </div>

                         <img class="img-responsive" src="/images/persona-09.png" />

                         <div class="overlay"> <button id="myBtn" class="reservar"> Reservar </button> </div>

                    </div>

               </div>

               <p class="nombre"> Marcos Rios </p>

          </div>
         
 </div>

 <div class="container-button-ver"> <button type="button"> Ver más </button> </div>
        
      <div id="myModal" class="modal">
           <div class="modal-content"> <%- include('../partials/popUpReserve.ejs') %> </div>
      </div> 

 </section>

 </main>

 <%- include('../partials/chat.ejs')%>

 <%- include('../partials/footer.ejs')%>

 <script src="/js/scriptHeader.js"> </script>

 <script src="/js/scriptPopUpReserve.js"> </script>

 <script>
         var btnFiltro = document.getElementsByClassName("btnFiltro")
         var i

         for (i = 0; i < btnFiltro.length; i++) 
         {
          btnFiltro[i].addEventListener("click", function () 
          {
           this.classList.toggle("active")
           var check = this.nextElementSibling
           if (check.style.maxHeight) 
           {check.style.maxHeight = null} 
           else 
           {check.style.maxHeight = check.scrollHeight + "px"}
          })
         }
 </script>

</body>

</html>
