<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Aulas</title>
</head>
<body>
    <!-- header-->

    <main>
        <section>
            <div>
                <div>Hoy</div>
                <i class="far fa-clock"></i>
            </div>

            <div>
                <img src="#" alt="avatar del alumno">
                <div>Alumno</div>
                <div>
                    <div>Horario</div>
                    <div>Tema a ver</div>
                    <div>Plataforma</div>
                </div>
                <i class="fas fa-ellipsis-h"></i>
            </div>
        </section>

        <section>
            <div>Administra tus clases</div>
            <div>
                <div>Mis alumnos</div>
                <!-- aca puede seleccionar multiple, no se si esta bien un form ahi, asi que hare un div-->
                <div>nombre</div>
                <div>nombre</div>
                <div>nombre</div>
                <div>nombre</div>
            </div>
            <div>
                <div>Idiomas</div>
                <div>Ingles</div>
                <div>Espanol</div>
                <div>Portugues</div>
                <div>Italiano</div>
            </div>
            <div>
                <div>Mi semana</div>
                <div>Lunes</div>
                <div>Martes</div>
                <div>Miercoles</div>
                <div>Jueves</div>
                <div>Viernes</div>
                <div>Sabado</div>
                <div>Domingo</div>
            </div>

            <div>Conversaciones</div>
            <!-- aca ni idea que va-->

            <div>
                <!-- aca va un grafico hermoso que suplantaremos con una imagen-->
                <img src="#" alt="grafico de stats del prof">
            </div>
        </section>


    </main>


    <!-- footer-->
</body>
</html>