<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Aulas</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/adminProfes.css">    
    <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/perfilProfesV2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <header id="top-header">
        <nav class="navbar" id="main">
          <div class="responsive-one">
            <a class="logo" href="#top-header">
              <img src="/images/logo.svg" alt="logo">
            </a>
            <div class="search">
              <i class="fas fa-search"></i>
              <input class="input" type="search" name="buscar" placeholder="Buscar">
            </div>
          </div>
          <ul class="nav-list" id="navList">
            <li class="nav-item">
              <a class="border" href="#top-header">Home</a>
            </li>
            <li class="nav-item">
              <a href="#"> Profesores</a>
            </li>
            <li class="nav-item">
              <a href="#"> Paquetes</a>
            </li>
            <li class="nav-item">
              <a href="#"> Contacto</a>
            </li>
            <li class="nav-item">
              <a href="#">En</a>
            </li>
          </ul>
          <div class="responsive-two">
            <div class="button-responsive" id="toggle-button">
              <i class="fas fa-bars"></i>
            </div>
    
            <div class="botones-iconos">
              <i class="far fa-heart"></i>
              <button class="carrito" onclick="openNav()">
                <i class="fas fa-shopping-cart"></i>
              </button>
              <div class="dropdown">
                <button class="dropbtn">
                  <i class="far fa-user-circle"></i>
                </button>
                <!-- submenu -->
                <div class="dropdown-content">
                  <div class="drop-header">
                    <i class="far fa-user-circle"></i>
                    <h4>Usuario</h4>
                  </div>
                  <ul>
                    <li>Membresías</li>
                    <li>Da clases</li>
                    <li>Mis cursos</li>
                  </ul>
                  <ul>
                    <li>Configuración</li>
                    <li>Métodos de pago</li>
                    <li>Historial de compra</li>
                  </ul>
                  <ul>
                    <li>Idiomas</li>
                  </ul>
                  <ul>
                    <li>Editar perfil</li>
                  </ul>
    
                  <ul class="outline">
                    <li>Ayuda</li>
                    <li>Cerrar sesión</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    
        </nav>
      </header>

    <main>
        <section class="agenda">
            <div class="diaAgenda">
                <div>Hoy</div>
                <i class="far fa-clock"></i>
            </div>

            <div class="elementosAgenda">
                <div class="fotoAlumnoAgenda"> 
                  <img src="/images/imagen-profesor.png" alt="avatar del alumno">
                  <div id="nombreAlumnoAgenda">Alumno</div>
                </div>
                <div class="infoClasesAgenda">
                    <div id="horarioAgenda">Horario</div>
                    <div id="temaAgenda">Tema a ver</div>
                    <div id="plataformaAgenda">Plataforma</div>
                </div>
            </div>
            <i class="fas fa-ellipsis-h"></i>
        </section>

        <section class="administraClases">
            <div class="tituloAdminClases">Administra tus clases</div>
            
            <div class="contenedorMenuFiltroAgenda">

              <div class="menuFiltroAgenda">

                <div id="misAlumnos">
                    <div class="categoriaFiltro">Mis alumnos</div>
                    <!-- aca puede seleccionar multiple, no se si esta bien un form ahi, asi que hare un div-->
                    <div class="opcionesFiltro">
                      <ul class="opcionesFiltroUL">
                        <li class="elementoFiltro"><a href="#">Idioma</a></li>
                        <li class="elementoFiltro"><a href="#">Idioma</a></li>
                        <li class="elementoFiltro"><a href="#">Idioma</a></li>
                        <li class="elementoFiltro"><a href="#">Idioma</a></li>
                      </ul>
                    </div>
                </div>

                <div id="misIdiomas">
                    <div class="categoriaFiltro">Idiomas</div>
                    <div class="opcionesFiltro">
                      <ul class="opcionesFiltroUL">
                        <li class="elementoFiltro"><a href="#">Ingles</a></li>
                        <li class="elementoFiltro"><a href="#">Espanol</a></li>
                        <li class="elementoFiltro"><a href="#">Portugues</a></li>
                        <li class="elementoFiltro"><a href="#">Italiano</a></li>
                      </ul>
                    </div>
                </div>  

                <div id="diaSemana">
                    <div class="categoriaFiltro">Mi semana</div>
                    <div class="opcionesFiltro">
                      <ul class="opcionesFiltroUL">
                        <li class="elementoFiltro"><a href="#">Domingo</a></li>
                        <li class="elementoFiltro"><a href="#">Lunes</a></li>
                        <li class="elementoFiltro"><a href="#">Martes</a></li>
                        <li class="elementoFiltro"><a href="#">Miercoles</a></li>
                        <li class="elementoFiltro"><a href="#">Jueves</a></li>
                        <li class="elementoFiltro"><a href="#">Viernes</a></li>
                        <li class="elementoFiltro"><a href="#">Sabado</a></li>
                      </ul>
                    </div>
                </div>

                <div id="conversaciones">  <!-- aca ni idea que va-->
                  <div class="categoriaFiltro">Conversaciones</div>
                  <div class="opcionesFiltro">
                    <ul class="opcionesFiltroUL">
                      <li class="elementoFiltro"><a href="#">conv</a></li>
                      <li class="elementoFiltro"><a href="#">conv</a></li>
                      <li class="elementoFiltro"><a href="#">conv</a></li>
                      <li class="elementoFiltro"><a href="#">conv</a></li>
                    </ul>
                  </div>
                </div>

               
              </div> <!-- fin menuFiltroAgenda-->
              <div><!-- div vacio hasta que resolvamos el grafico. Mantiene estructura. !--></div>
              <div class="graficoStatsProf">
                <!-- aca va un grafico hermoso que suplantaremos con una imagen-->
                <img src="#" alt="grafico de stats del prof">
              </div>
         
          </div> <!-- cierre del contenedor-->
          
            
        </section>


    </main>


    <footer>
        <div>Creado por Carlos - Martina - Carmela - Candelaria</div>
        <div class="redesFooter">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
    </footer>

</body>
</html>