<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href = "/css/detailView.css" rel = "stylesheet">
    <link href= "/css/normalize.css" rel="stylesheet">
    <title>Servicios de holaalmundo</title>
    <!--<link rel="icon" href= "resources/paifang2.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
</head>

<body>  
    <!--header>nav>ul>li*5.class-${List Item $}-->
    <!--(header>nav)+main+footer-->
    <!--(header>h2{Heading}+nav>ol>li*5>a{Link$})+main+footer-->
    <!--<form action="" method="post"></form>-->
    <!--form:post>(.group>label+input:text)+(.group>label+input:number)-->
    <!--div>ul>ls*3.class-${Item}-->
    <header class = "headerBar">
        <div class = "leftBarContainer">
            <a class = "logoContainer" href = ".">
                <div class = "logoImageContainer">
                    <img class = "logoImage" src = "images/logo-completo.png">
                </div>
                <!--
                <div class = "logoHolaalmundo">
                    Holaalmundo
                </div>-->
            </a>
            <!-- <img id = "audioController" src = "resources/audioControllerOn.png" onclick = "audioController(); imageChange();"> -->
        </div>
        <div class="inputContainer">     
            <input class="search-input" type="text" placeholder="Buscar">
            <i class="fas fa-search"></i>
        </div>  
        <div class = "centerBarContainer">
            <div class = "centerBarStuff">
                <a class = "home hamburgerStuff" href = "#">Home</a>
                <a class = "profesores hamburgerStuff" href = "#">Profesores</a>
                <a class = "paquetes hamburgerStuff" href = "#">Paquetes</a>
                <a class = "contacto hamburgerStuff" href = "#">Contacto</a>
                <!--<img class = "separator hamburgerStuff" src = "resources/glowySquare.png">-->
            </div>
        </div>
        <div class ="rightBarContainer">
            <div class = "rightBarStuff">
                <i class="fas fa-heart"></i>
                <i class="fas fa-shopping-cart"></i>
                <i class="fas fa-user-circle"></i>
            </div>
        </div> 
        <div class = "menuHamburger"><div class = "menuHamburgerBtn"></div></div>
    </header>    
    <main class="main">
        <div class = "layer1">
            <!--<div class = "layer1BgSources"><a class = "layer1BgSource1" href = "https://www.pixiv.net/en/users/25088958/illustrations" target = "_blank">Background illustration by: MerlimAmbrosuis</a><br><a class = "layer1BgSource2" href = "https://www.youtube.com/watch?v=7zG87aNNf20&list=PL_mGxmgVfH1ORtai56pXbkWdlfRjcl1K2&index=21" target = "_blank">Animated by: Live Wallpaper Centre</a></div>-->
            <div class = "layer1Container">
                <div class = "greetings">
                    ¿Que idioma te gustaría aprender?
                </div>
                <div class = "paises">
                        <div class="card"><img class ="imagenes-paises" src="/images/banderas-españa.png"></div>
                        <div class="card"><img class ="imagenes-paises" src="/images/banderas-inglaterra.png"></div>
                        <div class="card"><img class ="imagenes-paises" src="/images/banderas-italia.png"></div>
                        <div class="card"><img class ="imagenes-paises" src="/images/banderas-brasil.png"></div>
                </div>
            </div>
        </div>

        <div class = "layer2">
            <div class = "layer2Bg">
                <div class = "layer2Content">
                    <div class = "layer2Heading">
                        Elegí lo que mas te convenga!
                    </div>
                    <div class = "layer2Info">
                        <div class = "layerFiltros">
                            <div class="layer-idiomas">
                                <button type = "button" class="cardFiltros1">Idiomas <i class="fas fa-caret-down"></i></button> 
                                <!-- <form action="/create-product" method="POST" class="create-form">
                                    <label for="">Idiomas</label>
                                    <select name="categoria" id="" class="control">
                                        <option value="ingles">Ingles</option>
                                        <option value="español">Español</option>
                                        <option value="portugués">Portugués</option>
                                        <option value="frances">Frances</option>
                                        <option value="aleman">Aleman</option>
                                    </select>
                                </form>-->
                                <div class="filtro-idiomas-formulario">
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                                        <label for="español" >Español</label>  
                                    </div>    
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                                        <label for="ingles" >Ingles</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                                        <label for="portugues" >Portugués</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                                        <label for="italiano" >Italiano</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                                        <label for="aleman" >Aleman</label>  
                                    </div>
                                </div>  
                            </div> 
                            <div class="layer-temas">
                                <button type = "button" class="cardFiltros2">Temas de interes <i class="fas fa-caret-down"></i></button>
                                <div class="filtro-temas-interes-formulario">
                                    <div class="form-group">
                                        <input type="checkbox" name="temas-interes" value="cultura" id="cultura" class="input-control">
                                        <label for="cultura" >Cultura</label>  
                                    </div>    
                                    <div class="form-group">
                                        <input type="checkbox" name="temas-interes" value="noticias" id="noticias" class="input-control">
                                        <label for="noticias" >Noticias</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="temas-interes" value="deportes" id="deportes" class="input-control">
                                        <label for="deportes" >Deportes</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="temas-interes" value="culinaria" id="culinaria" class="input-control">
                                        <label for="culinaria" >Culinaria</label>  
                                    </div>
                                </div>
                            </div>    
                            <div class="layer-profesiones">
                                <button type = "button" class="cardFiltros3">Profesiones <i class="fas fa-caret-down"></i></button>
                                <div class="filtro-profesiones-formulario">
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                                        <label for="español" >Abogado</label>  
                                    </div>    
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                                        <label for="ingles" >Administrador</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                                        <label for="portugues" >Contador</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                                        <label for="italiano" >Ingeniero</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                                        <label for="aleman" >Musico</label>  
                                    </div>
                                </div> 
                            </div>       
                            <div class="layer-horario">
                                <button type = "button" class="cardFiltros4">Dias/Horario <i class="fas fa-caret-down"></i></button>
                                <div class="filtro-horario-formulario">
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                                        <label for="español" >Lunes</label>  
                                    </div>    
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                                        <label for="ingles" >Martes</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                                        <label for="portugues" >Miercoles</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                                        <label for="italiano" >Jueves</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                                        <label for="aleman" >Viernes</label>  
                                    </div>
                                </div> 
                            </div>   
                            <div class="layer-conversacion">
                                <button type = "button" class="cardFiltros5">Conversaciones <i class="fas fa-caret-down"></i></button>
                                <div class="filtro-conversacion-formulario">
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                                        <label for="español" >Español</label>  
                                    </div>    
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                                        <label for="ingles" >Ingles</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                                        <label for="portugues" >Portugués</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                                        <label for="italiano" >Italiano</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                                        <label for="aleman" >Aleman</label>  
                                    </div>
                                </div> 
                            </div>
                            <div class="layer-match">
                                <button type = "button" class="cardFiltros6">Match date <i class="fas fa-caret-down"></i></button>
                                <div class="filtro-match-formulario">
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                                        <label for="español" >Museos</label>  
                                    </div>    
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                                        <label for="ingles" >Rumba</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                                        <label for="portugues" >Cena</label>  
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                                        <label for="italiano" >Compartir</label>  
                                    </div>
                                </div> 
                            </div>  
                        </div>
                        <div class = "layer2InfoContainer">
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                            <div class = "profeContainer">
                            <img class = "profeImage" src ="/images/imagen-profesor.png">
                            <div>
                                <footer class = "footer-profesor">Nombre profesor</footer>
                            </div>
                            </div>
                            
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                            <div class = "profeContainer">
                                <img class = "profeImage" src = "/images/imagen-profesor.png">
                                <div>
                                    <footer class = "footer-profesor">Nombre profesor</footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <div class = "layer3">
            <div class = "layer3Servicios">
                <div class = "serviciosContainer">
                    <div class="servicio-label">Conversacion</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>    
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Idioma para tu carrera</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Preparacion examenes</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Match de idiomas</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Clases</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
            </div>    
        </div>

        <div class = "layer4">
            <div>
                <h2 class = "layer4Heading">Recomendados para ti</h2>
            </div>
            <div class = "layer4Servicios">
                <div class = "serviciosContainer"> 
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
            </div>    
            <div>
                <h2 class = "layer4Heading">Los mas vendidos</h2>
            </div>
            <div class = "layer4Servicios">
                <div class = "serviciosContainer"> 
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
                <div class = "serviciosContainer">
                    <div class="servicio-label">Servicios</div>
                    <div class="container-servicios">
                        <footer class = "footer-servicios">Agregar al carrito</footer>
                    </div>
                </div>
            </div> 
        </div>
    </main>    

    <footer>
        <div class = "footerLayer">
            <div class = "footerLayerBg">
                <a class = "footerLayerAuthor">
                    @DigitalHouse-project
                </a>
            <div class="iconos">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-whatsapp"></i>
            </div>    
            </div>
        </div>
    </footer>
</body>    
</html>