<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header id="top-header">
    <nav class="navbar" id="main">
      <div class="responsive-one">
        <a class="logo" href="#top-header">
          <img src="/images/logo.svg" alt="logo">
        </a>
        <div class="search">
          <i class="fas fa-search"></i>
          <input class="input" type="search" name="buscar" placeholder="Buscar">
        </div>
      </div>
      <ul class="nav-list" id="navList">
        <li class="nav-item">
          <a class="border" href="/views/home.html">Home</a>
        </li>
        <li class="nav-item">
          <a href="#"> Profesores</a>
        </li>
        <li class="nav-item">
          <a href="#"> Paquetes</a>
        </li>
        <li class="nav-item">
          <a href="#"> Contacto</a>
        </li>
        <li class="nav-item">
          <a href="#">En</a>
        </li>
      </ul>
      <div class="responsive-two">
        <div class="button-responsive" id="toggle-button">
          <i class="fas fa-bars"></i>
        </div>

        <div class="botones-iconos">
          <i class="far fa-heart"></i>
          <button onclick="openNav()">
            <i class="fas fa-shopping-cart"></i>
          </button>
          <div class="dropdown">
            <button class="dropbtn">
              <i class="far fa-user-circle"></i>
            </button>
            <!-- submenu -->
            <div class="dropdown-content">
              <div class="drop-header">
                <i class="far fa-user-circle"></i>
                <h4>Usuario</h4>
              </div>
              <ul>
                <li>Membresías</li>
                <li>Da clases</li>
                <li>Mis cursos</li>
              </ul>
              <ul>
                <li>Configuración</li>
                <li>Métodos de pago</li>
                <li>Historial de compra</li>
              </ul>
              <ul>
                <li>Idiomas</li>
              </ul>
              <ul>
                <li>Editar perfil</li>
              </ul>

              <ul class="outline">
                <li>Ayuda</li>
                <li>Cerrar sesión</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </nav>
  </header>

  <script src="/js/script.js"></script>

</body>

</html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Home Page
</body>
</html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Home page
  </body>
</html>
