<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hola al Mundo</title>
  <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- Menu -->
  <header id="top-header">
    <nav class="navbar">
      <div class="responsive-one">
        <a class="logo" href="#top-header">
          <img src="/images/logo.svg" alt="logo">
        </a>
        <div class="search">
          <i class="fas fa-search"></i>
          <input class="input" type="search" name="buscar" placeholder="Buscar">
        </div>
      </div>
      <ul class="nav-list" id="navList">
        <li class="nav-item">
          <a class="border" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a href="#"> Profesores</a>
        </li>
        <li class="nav-item">
          <a href="#"> Paquetes</a>
        </li>
        <li class="nav-item">
          <a href="#"> Contacto</a>
        </li>
        <li class="nav-item">
          <a href="#">En</a>
        </li>
      </ul>
     <div class="responsive-two">
      <div class="button-responsive" id="toggle-button">
        <i class="fas fa-bars"></i>
    </div>
 
    <div class="botones-iconos">
      <i class="far fa-heart"></i>
      <i class="fas fa-shopping-cart"></i>
      <div class="dropdown">
        <button class="dropbtn">
          <i class="far fa-user-circle"></i>
        </button>
        <!-- submenu -->
        <div class="dropdown-content">
          <div class="drop-header">
            <i class="far fa-user-circle"></i>
            <h4>Usuario</h4>
          </div>
          <ul>
            <li>Membresías</li>
            <li>Da clases</li>
            <li>Mis cursos</li>
          </ul>
          <ul>
            <li>Configuración</li>
            <li>Métodos de pago</li>
            <li>Historial de compra</li>
          </ul>
          <ul>
            <li>Idiomas</li>
          </ul>
          <ul>
            <li>Editar perfil</li>
          </ul>

          <ul class="outline">
            <li>Ayuda</li>
            <li>Cerrar sesión</li>
          </ul>
        </div>
      </div>
    </div>
     </div>
      
    </nav>
  </header>
  <main>
    <!-- Slide principal -->
    <section>
      <div>
        <div>Lorem ipsum dolor sit amet</div>
        <div>Lorem ipsum dolor sit amet</div>
        <div>Lorem ipsum dolor sit amet</div>
      </div>
      <i class="fas fa-ellipsis-h"></i>
    </section>
    <!-- Caracteristicas -->
    <section>
      <div class="caracteristicas">
        <img src="." alt="foto de caracteristica 1">
        <div>caracteritica 1</div>
        <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Tempora ea quod voluptate nisi nihil soluta vero quia excepturi.
        </div>
      </div>
      <div class="caracteristicas">
        <img src="." alt="foto de caracteristica 2">
        <div>caracteritica 2</div>
        <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Tempora ea quod voluptate nisi nihil soluta vero quia excepturi.
        </div>
      </div>
      <div class="caracteristicas">
        <img src="." alt="foto de caracteristica 3">
        <div>caracteritica 3</div>
        <div> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Tempora ea quod voluptate nisi nihil soluta vero quia excepturi.
        </div>
      </div>

    </section>
    <!-- Seccion profesores -->
    <section id="section-profesores">
      <!-- dividi la seccion en subsecciones 'article' para que no quede confuso-->
      <article class="background-profesores">
        <h2> Nuestros Profes</h2>
        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing ut diam arcu
          vivamus erat dictum. Ipsum scelerisque aenean cursus id quis enim sagittis nullam
          sodales. Integer augue id cursus massa duis donec gravida. Non faucibus rmentum
        </div>
      </article>
      <div> Ver más</div>
      <article>
        <img src="" alt="foto de alumnos">
        <img src="" alt="foto de alumnos">
        <img src="" alt="foto de alumnos">
        <img src="" alt="foto de alumnos">
        <img src="" alt="foto de alumnos">
        <img src="" alt="foto de alumnos">
        <img src="" alt="foto de alumnos">
        <img src="" alt="foto de alumnos">
      </article>
    </section>
    <!-- Seccion Estadisticas -->
    <section>
      <article>
        <div>Hola al Mundo cuenta con </div>
        <div class="cantidades">
          <div>
            <div> 50 </div>
            <div>Profesores</div>
          </div>
          <div>
            <div> + 5000 </div>
            <div>Alumnos</div>
          </div>
          <div>
            <div> 150 </div>
            <div>Temáticas</div>
          </div>
          <div>
            <div> 3 </div>
            <div>Idiomas</div>
          </div>
        </div>
      </article>
    </section>
    <!-- Sección servicios -->
    <section>
      <div>Nuestros Servicios</div>
      <div class="bloquesDeServicios">
        <div>
          <div>Conversación</div>
          <div>Agregar al carrito</div>
        </div>
        <div>
          <div>Perfecciona tu idioma para tu carrera</div>
          <div>Agregar al carrito</div>
        </div>
        <div>
          <div>Preparación de examenes</div>
          <div>Agregar al carrito</div>
        </div>
        <div>
          <div>Conectate con otras personas</div>
          <div>Agregar al carrito</div>
        </div>
        <i class="fas fa-angle-left"></i>
        <i class="fas fa-angle-right"></i>
      </div>
      <div> Ver más</div>
    </section>
    <!-- Contacto -->
    <section class="contactoHome">
      <div> Hola</div>
      <div> Envianos tu consulta y ne el menor tiempo estarás empezando a comunicarte con el mundo.</div>
      <div class="redes">
        <ul>
          <!--aca no se si van divs, spans o que para que quede el mismo espacio de separacion-->
          <li>
            <i class="fab fa-facebook-f"></i>
            <span> holaalmundo</span>
          </li>
          <li>
            <i class="fab fa-instagram"></i>
            <span> holaalmundo</span>
          </li>
          <li>
            <i class="fab fa-linkedin-in"></i>
            <span> holaalmundo</span>
          </li>
          <li>
            <i class="fab fa-whatsapp"></i>
            <span>0303 456 shalalala</span>
          </li>
        </ul>
      </div>
      <div class="formulario">
        <div>
          <div>Nombre y apelllido</div>
          <div>Email</div>
          <div>Consulta</div>
        </div>
        <div>Enviar</div>
      </div>
    </section>

  </main>
  <!-- Footer -->
  <footer>
    <div>Creado por Carlos - Martina - Carmela - Candelaria</div>
    <div class="redesFooter">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-whatsapp"></i>
    </div>
  </footer>

  <script>
    const toggleButton = document.getElementById("toggle-button");
    const navList = document.getElementById("navList");
    toggleButton.addEventListener('click',()=> {
      navList.classList.toggle('active');
    })
   /*  function menuResponsive() {
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    } */
  </script>
</body>

</html>