<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hola al Mundo</title>
  <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <!-- Menu -->
  <header id="top-header">
    <nav class="navbar">
      <div class="responsive-one">
        <a class="logo" href="#top-header">
          <img src="/images/logo.svg" alt="logo">
        </a>
        <div class="search">
          <i class="fas fa-search"></i>
          <input class="input" type="search" name="buscar" placeholder="Buscar">
        </div>
      </div>
      <ul class="nav-list" id="navList">
        <li class="nav-item">
          <a class="border" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a href="#"> Profesores</a>
        </li>
        <li class="nav-item">
          <a href="#"> Paquetes</a>
        </li>
        <li class="nav-item">
          <a href="#"> Contacto</a>
        </li>
        <li class="nav-item">
          <a href="#">En</a>
        </li>
      </ul>
      <div class="responsive-two">
        <div class="button-responsive" id="toggle-button">
          <i class="fas fa-bars"></i>
        </div>

        <div class="botones-iconos">
          <i class="far fa-heart"></i>
          <i class="fas fa-shopping-cart"></i>
          <div class="dropdown">
            <button class="dropbtn">
              <i class="far fa-user-circle"></i>
            </button>
            <!-- submenu -->
            <div class="dropdown-content">
              <div class="drop-header">
                <i class="far fa-user-circle"></i>
                <h4>Usuario</h4>
              </div>
              <ul>
                <li>Membresías</li>
                <li>Da clases</li>
                <li>Mis cursos</li>
              </ul>
              <ul>
                <li>Configuración</li>
                <li>Métodos de pago</li>
                <li>Historial de compra</li>
              </ul>
              <ul>
                <li>Idiomas</li>
              </ul>
              <ul>
                <li>Editar perfil</li>
              </ul>

              <ul class="outline">
                <li>Ayuda</li>
                <li>Cerrar sesión</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </nav>
  </header>
  <main>

    <!-- Carrusel principal -->
    <section>
      <div class="main-carrusel">
        <!-- img 1 -->
        <div class="mySlides fade">
          <img class="imagen" src="/images/carrusel01.png">
          <div class="content-text">
            <p class="text">Lorem ipsum dolor sit amet. </p>
            <p class="text">Lorem ipsum dolor sit amet. </p>
            <p class="text">Lorem ipsum dolor sit amet. </p>
          </div>
        </div>
        <!-- img 2 -->
        <div class="mySlides fade">
          <img class="imagen" src="/images/carrusel02.png">
          <div class="flex-form">
            <div class="text-one">
              <h2>Te gustaría enseñar con nosotros?</h2>
              <p>Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Alias, illo minima quidem
                nihil quae earum ex quas maxime at nulla deleniti
                aliquid modi atque minus iusto consequuntur
                quibusdam cupiditate sequi.
              </p>
              <p class="subtitle">Que esperas?
                <strong>forma parte de la comunidad</strong>
                hola al mundo!
              </p>
            </div>
            <div class="form-carrusel">
              <div class="flex-icon">
                <div class="circulo">
                  <i class="fab fa-google"></i>
                </div>
                <div class="circulo">
                  <i class="fab fa-facebook-f"></i>
                </div>
                <div class="circulo">
                  <i class="fab fa-linkedin-in"></i>
                </div>
              </div>
              <div class="form-one">
                <form action="#" method="post">
                  <input class="input-form" type="text" name="nombre" id="nombre" placeholder="Nombre">
                  <input class="input-form" type="text" name="apellido" id="apellido" placeholder="Apellido">
                  <input class="input-form" type="email" name="email" id="email" placeholder="Email">
                  <input class="input-form" type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
                  <button type="submit" class="register">
                    registrate
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- img 3 -->
        <div class="mySlides fade">
          <img class="imagen" src="/images/carrusel03.png">
          <div class="flex-form">
            <div class="form-carrusel two">
              <div class="flex-icon">
                <div class="circulo">
                  <i class="fab fa-google"></i>
                </div>
                <div class="circulo">
                  <i class="fab fa-facebook-f"></i>
                </div>
                <div class="circulo">
                  <i class="fab fa-linkedin-in"></i>
                </div>
              </div>
              <div class="form-one">
                <form action="#" method="post">
                  <input class="input-form" type="text" name="nombre" id="input-two" placeholder="Nombre">
                  <input class="input-form" type="text" name="apellido" id="input-two" placeholder="Apellido">
                  <input class="input-form" type="email" name="email" id="input-two" placeholder="Email">
                  <input class="input-form" type="password" name="contrasena" id="input-two" placeholder="Contraseña">
                  <button type="submit" class="register">
                    registrate
                  </button>
                </form>
              </div>
            </div>
            <div class="text-one">
              <h2>Te gustaría aprender con nosotros?</h2>
              <p>Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Alias, illo minima quidem
                nihil quae earum ex quas maxime at nulla deleniti
                aliquid modi atque minus iusto consequuntur
                quibusdam cupiditate sequi.
              </p>
              <p class="subtitle">Que esperas?
                <strong>forma parte de la comunidad</strong>
                hola al mundo!
              </p>
            </div>
          </div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        <div class="content-dot">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
      </div>

    </section>

    <!-- Caracteristicas -->
    <section>
      <div class="content-characteristics">
        <div class="caracteristicas one">
          <div class="circulo">
            <i class="far fa-user-circle"></i>
          </div>
          <h3>caracteritica 1</h3>
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Tempora ea quod voluptate nisi nihil soluta vero quia excepturi.
          </p>
        </div>
        <div class="caracteristicas">
          <div class="circulo">
            <i class="far fa-user-circle"></i>
          </div>
          <h3>caracteritica 2</h3>
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Tempora ea quod voluptate nisi nihil soluta vero quia excepturi.
          </p>
        </div>
        <div class="caracteristicas">
          <div class="circulo">
            <i class="far fa-user-circle"></i>
          </div>
          <h3>caracteritica 3</h3>
          <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Tempora ea quod voluptate nisi nihil soluta vero quia excepturi.
          </p>
        </div>

      </div>

    </section>
    <!-- Seccion profesores -->
    <section id="profesores">
      <div class="section-profesores">
        <div class="title-profesores">
          <h2> Nuestros Profes</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing ut diam arcu
            vivamus erat dictum. Ipsum scelerisque aenean cursus id quis enim sagittis nullam
            sodales. Integer augue id cursus massa duis donec gravida. Non faucibus rmentum
          </p>
        </div>
        <!-- grilla -->
        <div class="content-right">
          <div class="container-teacher">
            <div class="g-uno">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-dos">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-tres">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-cuatro">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-cinco">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-seis">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-siete">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="g-ocho">
              <img src="/images/profe.png" alt="profe">
            </div>
            <div class="boton-mas">
              <button>Ver mas</button>
            </div>
            <!-- Seccion Estadisticas -->
            <div class="est" id="section-estadisticas">
              <div class="title-estadisticas">
                <h2>Hola al Mundo cuenta con </h2>
              </div>
              <div class="cantidades">
                <div>
                  <p class="number"> 50 </p>
                  <p class="text">Profesores</p>
                </div>
                <div>
                  <p class="number">+ 5000 </p>
                  <p class="text">Alumnos</p>
                </div>
                <div>
                  <p class="number"> 150 </p>
                  <p class="text">Temáticas</p>
                </div>
                <div>
                  <p class="number"> 4 </p>
                  <p class="text">Idomas</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Sección servicios -->
    <section>
      <div>Nuestros Servicios</div>
      <div class="bloquesDeServicios">
        <div>
          <div>Conversación</div>
          <div>Agregar al carrito</div>
        </div>
        <div>
          <div>Perfecciona tu idioma para tu carrera</div>
          <div>Agregar al carrito</div>
        </div>
        <div>
          <div>Preparación de examenes</div>
          <div>Agregar al carrito</div>
        </div>
        <div>
          <div>Conectate con otras personas</div>
          <div>Agregar al carrito</div>
        </div>
        <i class="fas fa-angle-left"></i>
        <i class="fas fa-angle-right"></i>
      </div>
      <div> Ver más</div>
    </section>
    <!-- Contacto -->
    <section class="contactoHome">
      <div> Hola</div>
      <div> Envianos tu consulta y ne el menor tiempo estarás empezando a comunicarte con el mundo.</div>
      <div class="redes">
        <ul>
          <!--aca no se si van divs, spans o que para que quede el mismo espacio de separacion-->
          <li>
            <i class="fab fa-facebook-f"></i>
            <span> holaalmundo</span>
          </li>
          <li>
            <i class="fab fa-instagram"></i>
            <span> holaalmundo</span>
          </li>
          <li>
            <i class="fab fa-linkedin-in"></i>
            <span> holaalmundo</span>
          </li>
          <li>
            <i class="fab fa-whatsapp"></i>
            <span>0303 456 shalalala</span>
          </li>
        </ul>
      </div>
      <div class="formulario">
        <div>
          <div>Nombre y apelllido</div>
          <div>Email</div>
          <div>Consulta</div>
        </div>
        <div>Enviar</div>
      </div>
    </section>

  </main>
  <!-- Footer -->
  <footer>
    <div>Creado por Carlos - Martina - Carmela - Candelaria</div>
    <div class="redesFooter">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin-in"></i>
      <i class="fab fa-whatsapp"></i>
    </div>
  </footer>

  <script src="/js/script.js"></script>

</body>

</html>