<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Perfil</title>
    <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/perfilProfes.css">
</head>
<body>
    
    <!-- Aca va el header-->

    <main>

   
        <section>
            <!-- trate de hacer una seleccion multiple pero se ve bien feo, despues les muestro-->

            <div> Que te gustaría enseñar?</div>
            <form class="formulario" action="#" method="GET"> <!-- aca no se que poner en action, un file inventado?-->
               <div>
                    <select class="menu" name="idioma" id="idioma"required>
                        <option disabled selected>Selecciona un idioma</option>
                        <option value="ingles">Inglés</option>
                        <option value="español">Español</option>
                        <option value="frances">Francés</option>
                        <option value="portugues">Portugués</option>
                        <option value="italiano">Italiano</option>
                    </select>
                </div> 
                <div>
                    <select name="tema" id="tema" required>
                        <option disabled selected>Seleccionar temática</option>
                        <option value="examenes">Exámenes</option>
                        <option value="viajes">Viajes</option>
                        <option value="laboral">Laboral</option>
                        <option value="ocio">Ocio</option>
                        <option value="tecnico">Técnico</option>
                    </select>
                </div>
                <div>
                    <select name="profesion" id="profesion" required>
                        <option disabled selected>Seleccionar profesión</option>
                        <option value="profesor">Profesor</option>
                        <option value="arquitecto">Arquitecto</option>
                        <option value="cocinero">Cociner</option>
                        <option value="medico">Médico</option>
                        <option value="escritor">Escritor</option>
                        <option value="disenador">Diseñador</option>
                        <option value="otra">Otra</option>
                    </select>
                </div>

                <div><button type="submit">Continuar</button></div>
                
               
            </form>
            
            

        </section>
     
        <section>
            <!-- Aca es por si decidimos hacer el formulario mas largo   ///   podriamos agregar tarifa, ciudad-->

            <div> Que te gustaría (...) ?</div>
            <form class="formulario" action="#" method="GET"> <!-- aca no se que poner en action, un file inventado?-->
               <div>
                    <select name="x" id="x"required>
                        <option disabled selected>Seleccionar (...)</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>

                    </select>
                </div> 
                <div>
                    <select name="x" id="x"required>
                        <option disabled selected>Seleccionar (...)</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                    </select>
                </div>
                <div>
                    <select name="x" id="x"required>
                        <option disabled selected>Seleccionar (...)</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>

                    </select>
                </div>

                <div><button type="submit">Continuar</button></div>
                
               
            </form>
            
            

        </section>

        <section>
            <!-- Aca es por si decidimos hacer el formulario mas largo-->

            <div> Que te gustaría (...) ?</div>
            <form class="formulario" action="#" method="GET"> <!-- aca no se que poner en action, un file inventado?-->
               <div>
                    <select name="x" id="x"required>
                        <option disabled selected>Seleccionar (...)</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>

                    </select>
                </div> 
                <div>
                    <select name="x" id="x"required>
                        <option disabled selected>Seleccionar (...)</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                    </select>
                </div>
                <div>
                    <select name="x" id="x"required>
                        <option disabled selected>Seleccionar (...)</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>
                        <option value="xxxx">xxxxxx</option>

                    </select>
                </div>

                <div><button type="submit">Continuar</button></div>
                
               
            </form>
            
            

        </section>

    </main>
   
   
    <!-- Aca va el footer-->




</body>
</html>