<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
    <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>

</head>
<body>
    
    <!-- aca va el header-->


    <main>

        <section>
            <div>Completa tu perfil</div>

            <form action="#" method="POST">
                <div><label for="descripcion">Contanos sobre vos</label></div>
                <div>
                    <textarea name="descripcion" id="descripcion" cols="30" rows="10">Hola soy...</textarea>
                </div>

                <button type="submit">Continuar</button>

            </form>
            <!--ahi te mete un scroll bien piola-->
        </section>

        <section>

        <form action="#" method="POST">
            <div><label for="fotoPerfil"></label>Subi una foto tuya</div>
            <input type="file" id="fotoPerfil">
            <div>
                <div><input type="button" onclick="history.back()" name="volver atrás" value="Volver atrás"></div>
                <div><button type="submit">Continuar</button> </div>
            </div>
        </form>

        <!--ahi te mete otro scroll bien piola-->
       </section>

       <section> <!-- en esta hay un monton de cosas que todavia no aprendimos a hacer, entonces lo hago tipo replica de imagen-->
            <div>
                <div>Nombre</div>
                <div>$ por hora</div>
                <div>
                    <img src="#" alt="foto de perfil">
                    <div>
                        <div>En</div>
                        <div>Es</div>
                        <div>Ger</div>
                    </div>
                    <div>
                        <i class="fas fa-map-marker-alt"></i>
                        <div>Ciudad, Pais</div>
                    </div>
                    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum sint obcaecati fugit omnis. 
                        Sapiente at, eligendi atque quasi aut voluptatibus unde repellat consectetur nesciunt quo voluptates
                         maxime reiciendis vero. Nulla.
                    </div>
                    <div>
                        <div>Categoria</div>
                        <div>Categoria</div>
                        <div>Categoria</div>
                        <div>Categoria</div>
                    </div>
                </div>
            </div>

            <div>
                <div><input type="button" onclick="history.back()" name="volver atrás" value="Volver atrás"></div>
                <div><button type="submit">Continuar</button> </div> 
                <!-- aca no se hacer que el boton confirme que toda la info anterior es correcta y lo lleve al landing del login profes-->
            </div>
       </section>
    
    
</div>






    </main>



    <!-- footer-->

</body>
</html>