<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Servicios Hola al Mundo</title>
    <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href = "/css/popUpReserva.css" rel = "stylesheet">
    <link href= "/css/normalize.css" rel="stylesheet">    
</head>
<body>
    
    <main class="container-pop-header">
        <section>
            <header class="header">
                <h2>Pepito Juarez</h2>
            </header>
        </section>
        <section class="container-pop-body">
            <div class="container-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam ut feugiat nec interdum gravida aenean amet egestas. Aliquam nibh nunc, sollicitudin vitae. Mattis habitant lacus libero pharetra. Pellentesque sed orci, vel diam. Egestas neque eu nec pulvinar. Consequat est fermentum ut urna scelerisque lacus, dictum. Ut eu cursus mauris bibendum adipiscing in morbi felis. Diam egestas nullam viverra ut amet vitae lectus. Sit sed eu id habitasse quis ac.</p>
            </div>
            <div class = "layerFiltros">
                <div class="layer-horario">
                    <button type = "button" class="cardFiltrosHorario">Dias/Horario <i class="fas fa-caret-down"></i></button>
                    <div class="filtro-horario-formulario">
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                            <label for="español" >Lunes</label>  
                        </div>    
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                            <label for="ingles" >Martes</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                            <label for="portugues" >Miercoles</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                            <label for="italiano" >Jueves</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                            <label for="aleman" >Viernes</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                            <label for="aleman" >Sabado</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                            <label for="aleman" >Domingo</label>  
                        </div>
                    </div> 
                </div>   
                <div class="layer-temas">
                    <button type = "button" class="cardFiltros2">Hora <i class="fas fa-caret-down"></i></button>
                    <div class="filtro-temas-interes-formulario">
                        <div class="form-group">
                            <input type="checkbox" name="temas-interes" value="cultura" id="cultura" class="input-control">
                            <label for="cultura" >Cultura</label>  
                        </div>    
                        <div class="form-group">
                            <input type="checkbox" name="temas-interes" value="noticias" id="noticias" class="input-control">
                            <label for="noticias" >Noticias</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="temas-interes" value="deportes" id="deportes" class="input-control">
                            <label for="deportes" >Deportes</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="temas-interes" value="culinaria" id="culinaria" class="input-control">
                            <label for="culinaria" >Culinaria</label>  
                        </div>
                    </div>
                </div>    
            </div>
            <div>
                <button>Reservar</button>
            </div>
        </section>
    </main>

</body>   
</html>