<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <title>Servicios Hola al Mundo</title>
    <script
      src="https://kit.fontawesome.com/3964fc737d.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="/css/popUpReserva.css" rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet" />
  </head>
  <body>
    <main class="container-pop-header">
      <section>
        <header class="header">
          <h2>Pepito Juarez</h2>
        </header>
      </section>
      <section class="container-pop-body">
        <div class="container-text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam ut
            feugiat nec interdum gravida aenean amet egestas. Aliquam nibh nunc,
            sollicitudin vitae. Mattis habitant lacus libero pharetra.
            Pellentesque sed orci, vel diam. Egestas neque eu nec pulvinar.
            Consequat est fermentum ut urna scelerisque lacus, dictum. Ut eu
            cursus mauris bibendum adipiscing in morbi felis. Diam egestas
            nullam viverra ut amet vitae lectus. Sit sed eu id habitasse quis
            ac.
          </p>
        </div>
        <div class="layerFiltros">
          <div class="layer-horario">
            <button type="button" class="cardFiltrosHorario">
              Dias <i class="fas fa-caret-down"></i>
            </button>
            <div class="filtro-horario-formulario">
              <div class="grupo1">
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="horario"
                    value="todos"
                    id="todos"
                    class="input-control"
                  />
                  <label for="todos">Todos</label>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="horario"
                    value="lunes"
                    id="lunes"
                    class="input-control"
                  />
                  <label for="lunes">Lunes</label>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="horario"
                    value="martes"
                    id="martes"
                    class="input-control"
                  />
                  <label for="martes">Martes</label>
                </div>
              </div>
              <div class="grupo2">
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="horario"
                    value="miercoles"
                    id="miercoles"
                    class="input-control"
                  />
                  <label for="miercoles">Miercoles</label>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="horario"
                    value="jueves"
                    id="jueves"
                    class="input-control"
                  />
                  <label for="jueves">Jueves</label>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="horario"
                    value="viernes"
                    id="viernes"
                    class="input-control"
                  />
                  <label for="viernes">Viernes</label>
                </div>
              </div>
              <div class="grupo3">
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="horario"
                    value="sabado"
                    id="sabado"
                    class="input-control"
                  />
                  <label for="sabado">Sabado</label>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="horario"
                    value="domingo"
                    id="domingo"
                    class="input-control"
                  />
                  <label for="domingo">Domingo</label>
                </div>
              </div>
            </div>
          </div>
          <div class="layer-hora">
            <button type="button" class="cardFiltrosHorario">
              Hora <i class="fas fa-caret-down"></i>
            </button>
            <div class="filtro-hora-formulario">
              <div class="grupo1">
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="idiomas"
                    value="horario1"
                    id="horario1"
                    class="input-control"
                  />
                  <label for="horario1">7:00-8:00</label>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="idiomas"
                    value="horario1"
                    id="horario1"
                    class="input-control"
                  />
                  <label for="horario1">8:00-9:00</label>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="idiomas"
                    value="horario1"
                    id="horario1"
                    class="input-control"
                  />
                  <label for="horario1">9:00-10:00</label>
                </div>
              </div>
              <div class="grupo2">
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="idiomas"
                    value="horario1"
                    id="horario1"
                    class="input-control"
                  />
                  <label for="horario1">10:00-11:00</label>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="idiomas"
                    value="horario1"
                    id="horario1"
                    class="input-control"
                  />
                  <label for="horario1">11:00-12:00</label>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="idiomas"
                    value="horario1"
                    id="horario1"
                    class="input-control"
                  />
                  <label for="horario1">12:00-1:00</label>
                </div>
              </div>
              <div class="grupo3">
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="idiomas"
                    value="horario1"
                    id="horario1"
                    class="input-control"
                  />
                  <label for="horario1">1:00-2:00</label>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="idiomas"
                    value="horario1"
                    id="horario1"
                    class="input-control"
                  />
                  <label for="horario1">2:00-3:00</label>
                </div>
                <div class="form-group">
                  <input
                    type="checkbox"
                    name="idiomas"
                    value="horario1"
                    id="horario1"
                    class="input-control"
                  />
                  <label for="horario1">3:00-4:00</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-button">
          <button>Reservar</button>
        </div>
      </section>
    </main>
  </body>
</html>
