<!DOCTYPE html>

<html lang="en">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title> Registro </title>
          <link href="/css/register.css" rel="stylesheet">
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
          <link rel="preconnect" href="https://fonts.googleapis.com">
          <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
          <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

          <header> 
        
          <img class="logo" src="/images/logo-ham-blanco.png" alt="logo">

          <img class="bg" src="/images/bg-gris.jpg">
      
          </header> 
    
          <main> 
                 
          <p class="HAM"> Hola al Mundo </p>

          <p class="formulario"> Formulario de registro </p>

          <form action="/registro" method="POST"> 
               
          <p class="campos">
          <input placeholder= "Nombre" type="text" name="Nombre" required> 
          </p>
                      
          <p class="campos">
          <input placeholder= "Apellido" type="text" name="Apellido" required>
          </p>
                      
          <p class="campos">
          <input placeholder= "Celular" type="tel" name="Celular" required>
          </p>
                      
          <p class="campos">
          <input placeholder= "Mail" type="email" name="Mail" required>
          </p>

          <p class="campos">
          <input placeholder= "Contraseña" type="password" name="Contraseña" required>
          </p>

          <p class="campos">
          <select required>
          <option value=" " selected hidden> Soy </option>
          <option value="M"> Mujer </option>
          <option value="H"> Hombre </option>
          </select>
          </p>
                
          <p class="campos">
          <input class="bot-tyc" type="checkbox" name="Condiciones" required>
          <label class="term-y-cond"> Acepto los términos y condiciones </label>
          </p>

          <p class="campos">
          <button class="reg" type="submit"> Registrarme </button>
          </p>

          </form>

          </main>

          <footer>
          
          <ul class="iconos">
          <li type="none"> <i class="fab fa-facebook-f"> </i> </li>
          <li type="none"> <i class="fab fa-instagram"> </i> </li>   
          <li type="none"> <i class="fab fa-linkedin-in"> </i> </li>
          <li type="none"> <i class="fab fa-whatsapp"> </i> </li>
          </ul>

          <div class="cr"> Creado por Carlos - Martina - Carmela - Candelaria </div>

          </footer>

</body>

</html>