<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profesores Hola al Mundo</title>
    <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href= "/css/normalize.css" rel="stylesheet">  
    <link href= "/css/seteoPerfilProfes-1.css" rel="stylesheet">
</head>
<body>
    <header id="top-header">
        <nav class="navbar" id="main">
          <div class="responsive-one">
            <a class="logo" href="#top-header">
              <img src="/images/logo.svg" alt="logo">
            </a>
            <div class="search">
              <i class="fas fa-search"></i>
              <input class="input" type="search" name="buscar" placeholder="Buscar">
            </div>
          </div>
          <ul class="nav-list" id="navList">
            <li class="nav-item">
              <a class="border" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a href="#"> Profesores</a>
            </li>
            <li class="nav-item">
              <a href="#"> Paquetes</a>
            </li>
            <li class="nav-item">
              <a href="#"> Contacto</a>
            </li>
            <li class="nav-item">
              <a href="#">En</a>
            </li>
          </ul>
          <div class="responsive-two">
            <div class="button-responsive" id="toggle-button">
              <i class="fas fa-bars"></i>
            </div>
            <div class="botones-iconos">
              <i class="far fa-heart"></i>
              <button class="carrito" onclick="openNav()">
                <i class="fas fa-shopping-cart"></i>
              </button>
              <div class="dropdown">
                <button class="dropbtn">
                  <i class="far fa-user-circle"></i>
                </button>
                <!-- submenu -->
                <div class="dropdown-content">
                  <div class="drop-header">
                    <i class="far fa-user-circle"></i>
                    <h4>Usuario</h4>
                  </div>
                  <ul>
                    <li>Membresías</li>
                    <li>Da clases</li>
                    <li>Mis cursos</li>
                  </ul>
                  <ul>
                    <li>Configuración</li>
                    <li>Métodos de pago</li>
                    <li>Historial de compra</li>
                  </ul>
                  <ul>
                    <li>Idiomas</li>
                  </ul>
                  <ul>
                    <li>Editar perfil</li>
                  </ul>
    
                  <ul class="outline">
                    <li>Ayuda</li>
                    <li>Cerrar sesión</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>   
        </nav>
      </header> 
    <main class="container-main">
        <section class="container">
            <div class="container-header">
                <h2>¿Que idioma te gustaría enseñar?</h2>
            </div>
            <div class="layerFiltros">
                <div class="layer-idioma">
                  <button type="button" class="cardFiltrosHorario">
                    Seleccionar Idioma <i class="fas fa-caret-down"></i>
                  </button>
                  <div class="filtro-idiomas-formulario">
                    <div class="grupo1">
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                            <label for="español" >Español</label>  
                        </div>    
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                            <label for="ingles" >Ingles</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                            <label for="portugues" >Portugués</label>  
                        </div>
                    </div>    
                    <div class="grupo2">
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                            <label for="italiano" >Italiano</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                            <label for="aleman" >Aleman</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                            <label for="aleman" >Mandarin</label>  
                        </div>
                    </div>    
                    <div class="grupo3">
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                            <label for="aleman" >Ruso</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                            <label for="aleman" >Koreano</label>  
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                            <label for="aleman" >Japones</label>  
                        </div>
                    </div>
                  </div> 
                  </div>  
                  <div class="layer-tematicas">
                    <button type="button" class="cardFiltrosHorario">
                      Seleccionar Tematicas <i class="fas fa-caret-down"></i>
                    </button>
                    <div class="filtro-tematicas-formulario">
                      <div class="grupo1">
                          <div class="form-group">
                              <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                              <label for="español" >Conversacion</label>  
                          </div>    
                          <div class="form-group">
                              <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                              <label for="ingles" >Clases</label>  
                          </div>
                          <div class="form-group">
                              <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                              <label for="portugues" >Viajes</label>  
                          </div>
                      </div>    
                      <div class="grupo2">
                          <div class="form-group">
                              <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                              <label for="italiano" >Culinaria</label>  
                          </div>
                          <div class="form-group">
                              <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                              <label for="aleman" >Deportes</label>  
                          </div>
                          <div class="form-group">
                              <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                              <label for="aleman" >Cultura</label>  
                          </div>
                      </div>    
                      <div class="grupo3">
                          <div class="form-group">
                              <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                              <label for="aleman" >Rumba</label>  
                          </div>
                          <div class="form-group">
                              <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                              <label for="aleman" >Caminatas</label>  
                          </div>
                          <div class="form-group">
                              <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                              <label for="aleman" >Diversion</label>  
                          </div>
                      </div>
                    </div> 
                    </div>  
                    <div class="layer-profesion">
                        <button type="button" class="cardFiltrosHorario">
                          Seleccionar Profesion <i class="fas fa-caret-down"></i>
                        </button>
                        <div class="filtro-profesion-formulario">
                          <div class="grupo1">
                              <div class="form-group">
                                  <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                                  <label for="español" >Abogado</label>  
                              </div>    
                              <div class="form-group">
                                  <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                                  <label for="ingles" >Contador</label>  
                              </div>
                              <div class="form-group">
                                  <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                                  <label for="portugues" >Administrador</label>  
                              </div>
                          </div>    
                          <div class="grupo2">
                              <div class="form-group">
                                  <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                                  <label for="italiano" >Economista</label>  
                              </div>
                              <div class="form-group">
                                  <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                                  <label for="aleman" >Chef</label>  
                              </div>
                              <div class="form-group">
                                  <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                                  <label for="aleman" >Atleta</label>  
                              </div>
                          </div>    
                          <div class="grupo3">
                              <div class="form-group">
                                  <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                                  <label for="aleman" >Filosofo</label>  
                              </div>
                              <div class="form-group">
                                  <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                                  <label for="aleman" >Ingeniero</label>  
                              </div>
                              <div class="form-group">
                                  <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                                  <label for="aleman" >Artista</label>  
                              </div>
                          </div>
                        </div> 
                        </div>     
                
            </div>
            <div class="container-button">
                <button type="button">Continuar</button>
              </div>
        </section>
      </main>  
    <footer>
        <div class="footerTeam">
          <p>Creado por:</p>
          <ul>
            <li>
              <a href="https://www.linkedin.com/" target="_blank">
                Carlos -
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank">
                Martina -
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank">
                Carmela -
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/" target="_blank">
                Candelaria
              </a>
            </li>
          </ul>
        </div>
        <div class="redesFooter">
          <a href="#" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="#" target="_blank">
            <i class="fab fa-whatsapp"></i>
          </a>
        </div>
      </footer>
</body>
</html>