<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu perfil</title>
    <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <section>
            <img src="" alt="loguito">
            <div>
                <i class="fas fa-search"> Buscar</i>
            </div>
            <ul>
                <li>Membresía</li>
                <li>Da clases</li>
                <li>Mis cursos</li>
                <li>En</li>
            </ul>
            <i class="far fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
            <i class="far fa-user-circle"></i>
        </section>
        <section class="menuDesplegable">
            <div>
                <i class="far fa-user-circle"></i>
                <span>Usuario</span>
            </div>
            <div>
                <ul>
                    <li>Membresías</li>
                    <li>Da clases</li>
                    <li>Mis cursos</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Configuración</li>
                    <li>Métodos de pago</li>
                    <li>Historial de compra</li>
                </ul>
            </div>
            <div>Idiomas</div>
            <div>Editar perfil</div>
            <div>
                <ul>
                    <li>Ayuda</li>
                    <li>Cerrar sesión</li>
                </ul>
        </section>
    </header>
    <main>
         <div>Qué idioma te gustaría enseñar?</div>
        <div>
            <ul>
                <li>Seleccionar idioma
                    <ul>
                        <li>Inglés</li>
                        <li>Francés</li>
                        <li>Portugués</li>
                        <li>Italiano</li>
                        <li>Español</li>
                    </ul>
                </li>
                <li> Seleccionar temáticas
                    <ul>
                        <li>Negocios</li>
                        <li>Ocio</li>
                        <li>Exámenes</li>
                        <li>Lenguaje técnico</li>
                        <li>Viajes</li>
                    </ul>
                </li>
                <li> Seleccionar profesion (?)
                    <ul>
                        <li>profesion</li>
                        <li>profesion</li>
                        <li>profesion</li>
                        <li>profesion</li>
                        <li>profesion</li>
                        <li>profesion</li>
                    </ul>
                </li>
            </ul>
        </div>
        
    </main>
    <footer>
        <div>Creado por Carlos - Martina - Carmela - Candelaria</div>
        <div class="redesFooter">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
            <i class="fab fa-whatsapp"></i>
        </div>
    </footer>
    
</body>
</html>