/* COLORES:
azul mas fuerte: #3657F7
azul mas oscuro: #1F58A5
"violeta": #6243F7
verde claro: #00FFCB
verde oscuro: #00A987
gris: #DAD9DE
negro: #212121
blanco: #ffffff
 */
body {
  font-family: "Roboto", sans-serif;
  height: fit-content;
}
.contenedorConfiguracion {
  background-color: #212121;
  height: fit-content;
  margin: 0em auto;
  padding: 10% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.input-form {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #00ffcb;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #212121;
}

.input-form,
input::placeholder {
  color: #212121;
  opacity: 1;
}
.input-form:focus,
input:focus,
input[type]:focus {
  outline: 0 none;
}
.subir {
  display: flex !important;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em auto;
}

.inputSubir::-webkit-file-upload-button {
  visibility: hidden;
  width: 0%;
}
.inputSubir::before {
  content: "Subir imagen";
  display: inline-block;
  background: #00ffcb;
  border: none;
  border-radius: 10px;
  padding: 0.5em 1em;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 1rem;
}
.inputSubir:hover::before {
  background: #fff;
  color: #212121;
}
.inputSubir:active::before {
  background: #212121;
  color: #00ffcb;
}

.contenedorBtn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.reg {
  padding: 0.5em 1em;
  border-radius: 15px;
  border: transparent;
  color: #00ffcb;
  background-color: #6243f7;
  margin: 1em 0.5em;
}

.reg:hover {
  color: #00ffcb;
  background-color: #212121;
}

.cancelar {
  padding: 0.5em 1em;
  border-radius: 15px;
  border: 1px solid #6243f7;
  color: #212121;
  background-color: transparent;
  margin: 1em 0.5em;
}

.cancelar:hover {
  color: #00ffcb;
  background-color: #6243f7;
}

/* Validaciones FRONT */
.borderInput{
  border: 1px solid red !important;
}

.errores-form {
  margin: 2em auto 0em;
  width: 80%;
  display: flex;
  justify-content: center;
}

.errores-form ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
.errores-form div{
  color: #00FFCB;
  padding: 0.5em 0em;
}
.errores-form li {
  font-size: 0.9rem;
  display: inline;
  color: #fff;
}

.errores-form strong {
  color: #00FFCB;
}

#nuestroInputPreview{
  width: 150px;
  margin: 1em 0em;
  /* border: 1px solid #00ffcb; */
  padding: 0.2em;
  box-sizing: border-box;
  border-radius: 25px;
}

#nuestroInputPreview img{
  width: 100%;
}