body
{
font-family: 'Roboto', sans-serif;
}


.main-content {
    display: flex;
    height: 900px;
}

.left-content {
    width: 70%;
    position: relative;
}

.container-bg {  
    width: 100%;
    height: 100%;
    background-image: url(../images/bkg-signup.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: brightness(1.1);

}

.logo img {
    width: 450px;
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 280px;
}

.right-content {
    width: 30%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
}


.inicio-sesion {
    color: #6243F7;
    font-size: 40px;
    text-align: center;
}

.formulario {
    color: black;
    font-size: 16px;
    text-align: center;
}

.formulario {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.campos
{
    border-radius: 10px;
    width: 240px;
    height: 32px;
    border: transparent;
    position: relative;
    color: #00FFCB;

}

.campos :placeholder-shown {
    background-color: #00FFCB;
    border-radius: 10px;
    width: 240px;
    height: 32px;
    border: transparent;
}

::placeholder {
    color: #424242;
    margin-left: 150px;
    position: absolute;
    top: 12px;
    left: -140px;
    font-size: 14px;
}


.olv-cont
{
color: #424242;
position: relative;
font-size: 10px;
text-decoration: underline #00FFCB 2px;
}

.ini {
    width: 160px;
    height: 40px;
    border-radius: 14px;
    border: transparent;
    color: #00FFCB;
    background-color: #6243F7;
    margin-top: 24px;
}

.campos .ini:hover {
    color: #00FFCB;
    background-color: black;
}

/**  FOOOTER */

.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 500px;
}

.iconos
{
    position: absolute;
    z-index: 1;
    top: 700px;
    left: 310px;
    color: #00FFCB;
    font-size: 24px; 
}

.cr
{
    position: absolute;
    z-index: 1;
    top: 790px;
    left: 330px;
    color: #FFFFFF;
    font-size: 12px;
}

ul.iconos li
{
    display: inline;
    padding-left: 20px;
    padding-right: 6px;
}
