/* azul 1 #3651f7
azul oscuro #1f58a5
lila 6243f7
verde agua #00ffcb
verde #00a987
gris #dad9de
gris topo #424242


*/


*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
font-family: "Roboto", sans-serif;
height: fit-content;
margin: 0;
padding: 0;

}


/* HEADER */

header{
    height: 25vh;
}

.responsive-one {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 40%;
}
.responsive-two {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 10%;
margin-right: 0;
}
.navbar {
position: absolute;
z-index: 111;
top: 0;
background-color: #212121;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
align-items: center;
width: 100%;
height: 20vh;
padding: 1em 1em;
box-sizing: border-box;

}

.nav-list {
list-style: none;
}
.nav-list .nav-item {
display: inline-block;
padding: 1em 0.5em;
}
.nav-list .nav-item a:after {
content: "";
display: block;
height: 1.5px;
background: #00ffcb;
transform: scaleX(0);
transition: transform 0.3s;
margin-top: 5px;
opacity: 0.5;
}
.nav-list .nav-item a:hover:after {
transform: scaleX(1);
transition: transform 0.3s;
height: 1.5px;
opacity: 1;
}
.nav-list .nav-item a {
text-decoration: none;
font-weight: 300;
font-size: 1rem;
color: #fff;
}

.navbar img {
width: 8em;
}
.navbar .search {
width: 50%;
}
.navbar .search input {
width: 100%;
position: relative;
padding: 0.5em 1em;
border-radius: 50px;
border: none;
padding-inline-start: 35px;
}
.navbar .search input::placeholder {
padding-inline-start: 0px;
}

.input:focus {
outline: 2px solid #00ffcb;
}

.navbar .search i {
position: absolute;
z-index: 22222;
margin-top: 5px;
margin-left: 10px;
}

.botones-iconos {
display: flex;
flex-flow: row nowrap;
justify-content: flex-end;
align-items: center;
width: fit-content;
}
.botones-iconos i {
color: #fff;
font-size: 1rem;
margin-left: 0.5em;
}
.botones-iconos i.fa-user-circle {
font-size: 2.5rem;
}
.botones-iconos button.carrito {
width: fit-content;
border: none;
outline: none;
background-color: transparent;
}
.botones-iconos button.carrito:hover i {
color: #00ffcb;
}
.dropdown {
position: relative;
}
.dropbtn {
background-color: transparent;
border: none;
cursor: pointer;
width: fit-content;
}
.dropdown:hover .dropbtn i {
background-color: transparent;
color: #00ffcb;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #212121;
color: #fff;
width: 200px;
height: fit-content;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.475);
z-index: 1;
right: 5px;
border-radius: 25px;
padding: 1em auto;
border: 1px solid #00ffcb;
}

.dropdown:hover .dropdown-content {
display: block;
}
.drop-header {
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 1em 0em;
border-bottom: 1px solid #00ffcb;
}
.drop-header h4 {
margin-left: 0.5em;
}
.dropdown ul {
list-style: none;
border-bottom: 1px solid #00ffcb;
}
.dropdown ul.outline {
border-bottom: none;
}
.dropdown ul li {
padding: 0.5em 1em;
font-size: 1rem;
font-weight: 300;
}
.button-responsive {
display: none;
}




/* MAIN  */


/* seccion formulario */

.infoProfe{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
    background-color: #6243f7;
}

.title{
    font-size: 2.3em;
    padding-bottom: 8vh;
}

.subtitulo{
    font-size: 2em;
}
.formularioInfoLibre div textarea{
    width: 60vw;
    font-size: 1.5rem;
    padding-left: 2vw;
    padding-top: 2vh;
    margin: 2%;
    border: transparent;
    background-color: #ffff;
    opacity: 0.9;
    margin-top: 8vh;
    border-radius: 15px;

}

.formularioInfoLibre button{
    position: absolute;
    right: 20vw;
}

.botones{
    border-radius: 15px;
    width: fit-content;
    padding-right: 2%;
    padding-left: 2%;
    height: 5vh;
    font-size: 1.3em;
    background: radial-gradient(ellipse farthest-corner, #00ffcb, #0ed8b0);
    border: transparent;
    transition: all 2ms;
}

.botones:hover{
    background: radial-gradient(ellipse farthest-corner, #66ffe0, #00ffcb );
    font-size: 1.35em;
}




/* seccion foto*/

.uploadPhotos{
    margin:auto;
}

.uploadPhotos form .subtitulo{
    text-align:center;

}

.uploadFrom{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2vh;

}
.uploadFrom div{
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    border: solid black 1px;
}

#uploadFromDevice input{
    display: none;
}
.uploadFrom div img{
    width: 25vw;
    transition: all 2ms;
}
.uploadFrom img:hover{
    background-color: white;
    opacity: 0.7;
}

/*aca no se como mostrar el archivo que elegimos*/



.botonesConfirmacionFoto{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 1.5em;
}
.botonesConfirmacionFoto div{
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 1%;
}

.botonesConfirmacionFoto div input{
    padding-right: 10%;
}







@media (max-width:480px){
    .uploadFrom div p{
        display: none;
    }
}