@import url("./partialsCss/partials.css"); 
@import url("./new/buttons.css"); 
@import  url("./new/slides.css");
@import  url("./new/filters.css");
@import  url("./new/containerImg.css");
@import  url("./new/carrusel.css");
@import  url("./new/input.css");
@import  url("./new/titulos.css");

.black{
  background-color: #212121;
}
.blue{
  background-color: #3651F7;
}
.bodyViewStudents{
  padding-bottom: 2em;
} 
#tematicas{
  display: none
}
#niveles{
  display: none;
}
.check-active{
  display: block !important;
}
