<!-- FONDO DEL REGISTER Y LOGIN -->

<section class="left-content">

  <div class="container-bg">
       <div class="logo">
       <a href="/"> <img src="/images/logo-ham-blanco.png" alt="logo"> </a>
  </div>

  <div class="footer-container">
       <ul class="iconos">
           <li type="none"> <i class="fab fa-facebook-f"> </i> </li>
           <li type="none"> <i class="fab fa-instagram"> </i> </li>
           <li type="none"> <i class="fab fa-linkedin-in"> </i> </li>
           <li type="none"> <i class="fab fa-whatsapp"> </i> </li>
       </ul>

  <div class="cr"> Creado por Carlos - Martina - Candelaria </div>

  </div>

  </div>

</section>
