<section class="left-content">
  <div class="container-bg">
    <div class="flexBkgLogin">
      <div >
        <img src="/images/new/logo.png" alt="logo" class="logo">
      </div>

      <ul class="iconos">
        <li type="none"> <i class="fab fa-facebook-f"> </i> </li>
        <li type="none"> <i class="fab fa-instagram"> </i> </li>
        <li type="none"> <i class="fab fa-linkedin-in"> </i> </li>
        <li type="none"> <i class="fab fa-whatsapp"> </i> </li>
      </ul>
      <div class="cr"> Creado por Carlos - Martina - Candelaria </div>

    </div>
  </div>

</section>