<!-- Contacto -->
<section id="contacto">
  <div class="contactoHome">
    <div class="flexContacto">
      <div class="titleContact">
        <h3>Hola!</h3>
        <p> Envianos tu consulta y en el menor tiempo estarás empezando a comunicarte con el mundo.</p>
        <div class="redes">
          <ul>
            <!--aca no se si van divs, spans o que para que quede el mismo espacio de separacion-->
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-facebook-f"></i>
                <span> holaalmundo</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
                <span> holaalmundo</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-linkedin-in"></i>
                <span> holaalmundo</span>
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <i class="fab fa-whatsapp"></i>
                <span>0303 456 shalalala</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="formulario">
        <form action="/comment" method="post">
          <input class="input-form" type="text" name="nombreContact" id="nombre" placeholder="Nombre y Apellido">
          <input class="input-form" type="email" name="emailContact" id="email" placeholder="Email">
          <textarea class="consulta" name="consultaContact" id="consulta" cols="30" rows="10"
            placeholder="Consulta..."></textarea>
          <button type="submit" class="enviar">
            Enviar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>