<!-- Menu -->
<header id="top-header">
  <nav class="navbar" id="main">
    <div class="responsive-one">
      <a class="logo" href="#top-header">
        <img src="/images/logo.svg" alt="logo">
      </a>
      <div class="search">
        <i class="fas fa-search"></i>
        <input class="input" type="search" name="buscar" placeholder="Buscar">
      </div>
    </div>
    <div id="navBarChange">
      
    </div>
    
    <div class="responsive-two">
      <div class="button-responsive" id="toggle-button">
        <i class="fas fa-bars"></i>
      </div>

      <div class="botones-iconos">
        <!-- <i class="far fa-heart"></i> -->
        <button class="carrito" onclick="openNav()">
          <i class="fas fa-shopping-cart"></i>
        </button>
        <div class="dropdown">
          <button class="dropbtn">
            <i class="far fa-user-circle"></i>
          </button>
          <!-- submenu loged-->
          <div id="subMenu" class="dropdown-content">
            
          </div>
        </div>
      </div>
    </div>

  </nav>
</header>


<script>

  /* toggleNotifi(){
    var box = document.getElementById('boxNotification');
    if (this.notificationsDown) {
      box.style.height  = '0px';
      box.style.opacity = '0';
      box.style.zIndex = '-1000';
      this.notificationsDown = false;
    } else {
      box.style.height  = '400px';
      box.style.opacity = '1';
      box.style.zIndex = '99999';
      this.notificationsDown = true;
    }
  } */
</script>