<!-- Menu -->
<header id="top-header">
  <nav class="navbar" id="main">
    <div class="responsive-one">
      <a class="logo" href="#top-header">
        <img src="/images/logo.svg" alt="logo" />
      </a>
      <div class="search">
        <i class="fas fa-search"></i>
        <input class="input" type="search" name="buscar" placeholder="Buscar" />
      </div>
    </div>
    <% if (locals.isLogged) { %>
      <% if(locals.loggedStudent) { %>
        <!-- navbar cambiante students-->
        <div id="navBarChange">
          <ul class="nav-list" id="navList">
            <li class="nav-item">
              <a class="border" href="/students/home">Home</a>
            </li>
            <li class="nav-item">
              <a href="/students/teachers"> Profesores</a>
            </li>
            <li class="nav-item">
              <a href="/students/packages"> Paquetes</a>
            </li>
            <li class="nav-item">
              <a href="/students/home#contacto"> Contacto</a>
            </li>
            <li class="nav-item">
              <a href="#">En</a>
            </li>
          </ul>
        </div> 
      <% } else if (locals.loggedTeacher) { %>
        <!-- navbar cambiante teachers-->
        <div id="navBarChange">
          <ul class="nav-list" id="navList">
            <li class="nav-item">
              <a class="border" href="/teachers/home">Home</a>
            </li>
            <li class="nav-item">
              <a href="/teachers/students"> Mis Alumnos</a>
            </li>
            <li class="nav-item">
              <a href="/teachers/packages"> Mis Paquetes</a>
            </li>
            <li class="nav-item">
              <a href="https://zoom.us/signin"> Ir a clase</a>
            </li>
            <li class="nav-item">
              <a href="/teachers/home#contacto"> Contacto</a>
            </li>
            <li class="nav-item">
              <a href="#">En</a>
            </li>
          </ul>
        </div>
        <% } %>
      <% } else { %>
        <!-- navbar cambiante guest-->
        <div id="navBarChange">
          <ul class="nav-list" id="navList">
            <li class="nav-item">
              <a class="border" href="#top-header">Home</a>
            </li>
            <li class="nav-item">
              <a href="#sectionEstadisticas"> Paquetes</a>
            </li>
            <li class="nav-item">
              <a href="/#contacto"> Contacto</a>
            </li>
            <li class="nav-item">
              <a href="#">En</a>
            </li>
          </ul>
        </div>  
      <% } %>
    <div class="responsive-two">
      <div class="button-responsive" id="toggle-button">
        <i class="fas fa-bars"></i>
      </div>

      <div class="botones-iconos">
        <!-- <i class="far fa-heart"></i> -->
        <button class="carrito" onclick="openNav()">
          <i class="fas fa-shopping-cart"></i>
        </button>
        <div class="dropdown">
          <button class="dropbtn">
            <i class="far fa-user-circle"></i>
          </button>
          <!-- submenu loged-->
          <!-- guest-->
          <% if (locals.isLogged) { %>
              <% if(locals.loggedStudent) { %>
                    <!-- students -->
                    <div id="subMenu" class="dropdown-content">
                      <div class="drop-header">
                        <i class="far fa-user-circle"></i>
                        <div> Hi 
                          Carlos
                        </div>
                      </div>
                      <ul>
                        <li>Membresías</li>
                        <li>Mis cursos</li>
                        <li>Mis compañeros</li>
                      </ul>
                      <ul>
                        <li> <a href="/students/configuration">Configuración</a></li>
                        <li>Métodos de pago</li>
                        <li>Historial de compra</li>
                      </ul>
                      <ul>
                        <li>Idiomas</li>
                      </ul>
                      <ul class="outline">
                        <li>Ayuda</li>
                        <li> <a href="/students/logout"> Cerrar sesión </a> </li>
                      </ul>
                    </div> 
              <% } else if (locals.loggedTeacher) { %>
                    <!-- teachers--> 
                    <div id="subMenu" class="dropdown-content">
                    <div class="drop-header">
                      <i class="far fa-user-circle"></i>
                      <div> Hi 
                        Carlos
                      </div>
                    </div>
                    <ul>
                      <li>Membresías</li>
                      <li>Da clases</li>
                      <li> <a href="/profesores/inicioProfesores/administrarClases">Mis cursos</a></li>
                    </ul>
                    <ul>
                      <li> <a href="/teachers/configuration"> Configuración </a></li>
                      <li>Métodos de pago</li>
                      <li>Historial de compra</li>
                    </ul>
                    <ul>
                      <li>Idiomas</li>
                    </ul>  
                    <ul class="outline">
                      <li>Ayuda</li>
                      <li><a href="/teachers/logout">Cerrar sesión</a></li>
                    </ul>
                    </div> 
              <% } %>
          <% } else { %>
              <div id="subMenu" class="dropdown-content">
                <ul class="outline">
                  <li> <a href="register">Registrarse</a> </li>
                  <li><a href="login">Iniciar sesión</a></li>
                </ul>
              </div>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</header>

<script>
  /* toggleNotifi(){
    var box = document.getElementById('boxNotification');
    if (this.notificationsDown) {
      box.style.height  = '0px';
      box.style.opacity = '0';
      box.style.zIndex = '-1000';
      this.notificationsDown = false;
    } else {
      box.style.height  = '400px';
      box.style.opacity = '1';
      box.style.zIndex = '99999';
      this.notificationsDown = true;
    }
  } */
</script>
