
/* Vista STUDENTS TEACHERS */
.viewTeacher div.btnFiltro {
  background-color: #00ffcb;
  border: none;
  border-radius: 15px;
  color: #212121;
  padding: 0.5em 1em;
  width: 100%;
  font-size: 1rem;
  margin: 0.5em auto;
  display: flex;
  justify-content: space-between;
}
.viewTeacher div:hover.btnFiltro {
  background-color: #212121;
  color: #00ffcb;
}
.viewTeacher div.active.btnFiltro {
  background-color: #212121;
  color: #00ffcb;
}
.viewTeacher .check {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em 1em;
  background-color: transparent;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.viewTeacher .check div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5em 0em;
  padding: 0.5em 0em;
  color: #fff;
}
.viewTeacher .check div label {
  margin-left: 0.5em;
}
.viewTeacher .check.active{
  height: 200px;
}

.viewTeacher button.btnFiltrar {
  background-color: #212121;
  border: none;
  border-radius: 15px;
  color: #fff;
  padding: 0.5em 1.5em;
  width: fit-content;
  font-size: 1rem;
  margin: 0.5em auto;
  display: flex;
  justify-content: center;
}
.viewTeacher button:hover.btnFiltrar {
  background-color: #fff;
  color: #6243f7;
}
