form.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.flexInput {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 3em;
}
.contentColumn{
  width: 40%;
}

.input-form {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #00ffcb;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #212121;
}

.input-form,
input::placeholder {
  color: #212121;
  opacity: 1;
}
.input-form:focus,
input:focus,
input[type]:focus {
  outline: 0 none;
}


.input-form.disabled {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #cececeb8;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #ccc;
}

.input-form.disabled,
input::placeholder {
  color: #434343cb;
  opacity: 1;
}
.input-form.disabled:focus,
input:focus,
input[type]:focus {
  outline: 0 none;
}



.contenedorBtn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.reg {
  padding: 0.5em 1em;
  border-radius: 15px;
  border: transparent;
  color: #00ffcb;
  background-color: #6243f7;
  margin: 1em 0.5em;
}

.reg:hover {
  color: #00ffcb;
  background-color: #212121;
}

.cancelar {
  padding: 0.5em 1em;
  border-radius: 15px;
  border: 1px solid #6243f7;
  color: #212121;
  background-color: transparent;
  margin: 1em 0.5em;
}

.cancelar:hover {
  color: #00ffcb;
  background-color: #6243f7;
}

/* viewStudents */
.viewStudent{
  width: 50vw;
}
.input-select {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #00ffcb;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #212121;
}
.input-select:focus,
select:focus,
select[type]:focus {
  outline: 0 none;
  background-color: #fff;
  border: 2px solid #00ffcb;
}
.viewStudent .input-form:focus,
input:focus,
input[type]:focus {
  outline: 0 none;
  background-color: #fff;
  border: 2px solid #00ffcb;
}