.contentSlide {
  height: fit-content;
  width: 100vw;
  padding-top: 18vh;
  margin-bottom: -0.5em;
}
/* students profesores */
.containerSlide {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  filter: brightness(1.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
}

/* students profesores */
.viewTeacher{
  background-image: url(/images/slideServicios2.png);
}

.viewTeacher h2{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1em auto;
  color: #ffffff;
  margin-top: -3em;
}

/* detalle de profesor */
.containerBody{
  background-color: #212121;
  height: fit-content;
  padding: 2em 8em;
}
.flexBody{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0em 6em;
  margin: 5em  auto;
  width: 80vw;
}

img.avatar{
  width: 250px;
  border: 2px solid #00ffcb;
  border-radius: 35px;
  padding: 0.5em;
  margin-right: 2em;
}
.flexBody h3{
  color: #00ffcb;
  font-size: 2rem;
 padding-bottom: 1em;
}
.flexBody p{
  color: #ffffff;
  font-size: 1.2rem;
  
}

.misCursos {
  color: #3657f7;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2em;
}

/* ------- ondas --------*/

.onda3 {
  background-image: url(/images/new/onda3.png);
  width: 100%;
  height: 15em;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  position: absolute;
  margin-top: -2em;

}
/* Configuración profesor */
.flexPersonal{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0em 6em;
  margin: 5em  auto;
  width: 80vw;

}
  .flexPersonal h1{
    color: #3657f7;
    font-size: 2rem;
  }


  @media (max-width:950px) {
    .contentSlide {
      padding-top: 25vh;
    }
    .contentColumn{
      width: 100%;
    }
  }
  @media (max-width: 450px){
    .contentSlide {
      padding-top: 28vh;
    }
  }