* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: fit-content;
}
.responsive-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.responsive-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}
.navbar {
  position: absolute;
  z-index: 111;
  top: 0;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1em 1em;
  box-sizing: border-box;
}

.nav-list {
  list-style: none;
}
.nav-list .nav-item {
  display: inline-block;
  padding: 1em 0.5em;
}
.nav-list .nav-item a:after {
  content: "";
  display: block;
  height: 1.5px;
  background: #00ffcb;
  transform: scaleX(0);
  transition: transform 0.3s;
  margin-top: 5px;
  opacity: 0.5;
}
.nav-list .nav-item a:hover:after {
  transform: scaleX(1);
  transition: transform 0.3s;
  height: 1.5px;
  opacity: 1;
}
.nav-list .nav-item a {
  text-decoration: none;
  font-weight: 300;
  font-size: 1rem;
  color: #fff;
}

.navbar img {
  width: 8em;
}
.navbar .search {
  width: 50%;
}
.navbar .search input {
  width: 100%;
  position: relative;
  padding: 0.5em 1em;
  border-radius: 50px;
  border: none;
  padding-inline-start: 35px;
}
.navbar .search input::placeholder {
  padding-inline-start: 0px;
}

.input:focus {
  outline: 2px solid #00ffcb;
}

.navbar .search i {
  position: absolute;
  z-index: 22222;
  margin-top: 5px;
  margin-left: 10px;
}

.botones-iconos {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
}
.botones-iconos i {
  color: #fff;
  font-size: 1rem;
  margin-left: 0.5em;
}
.botones-iconos i.fa-user-circle {
  font-size: 2.5rem;
}
.botones-iconos button.carrito {
  width: fit-content;
  border: none;
  outline: none;
  background-color: transparent;
}
.botones-iconos button.carrito:hover i {
  color: #00ffcb;
}
.dropdown {
  position: relative;
}
.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: fit-content;
}
.dropdown:hover .dropbtn i {
  background-color: transparent;
  color: #00ffcb;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #212121;
  color: #fff;
  width: 200px;
  height: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.475);
  z-index: 1;
  right: 5px;
  border-radius: 25px;
  padding: 1em auto;
  border: 1px solid #00ffcb;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.drop-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0em;
  border-bottom: 1px solid #00ffcb;
}
.drop-header h4 {
  margin-left: 0.5em;
}
.dropdown ul {
  list-style: none;
  border-bottom: 1px solid #00ffcb;
}
.dropdown ul.outline {
  border-bottom: none;
}
.dropdown ul li {
  padding: 0.5em 1em;
  font-size: 1rem;
  font-weight: 300;
}

.dropdown ul li a{
  text-decoration: none;
  color: #fff;
  padding: 0.5em auto;
}
.button-responsive {
  display: none;
}


/* ------ CONTACTO ----- */
#contactoHome {
  box-sizing: border-box;
  width: 100vw;
  height: fit-content;
}
.contactoHome {
  /*width: 1440px;*/
  width: 100%;
  height: 725px;
  margin: 0em 0em 0em 0em;
  background-image: url(../../images/bkg-contacto.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center top;
  position: relative;
}
.flexContacto {
  width: 100%;
  padding: 0em 2em;
  position: absolute;
  top: 15em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.titleContact {
  width: 30%;
}
.titleContact h3 {
  font-size: 55px;
  color: #00ffcb;
  font-weight: 600;
}
.titleContact p {
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  padding: 0.2em 0em 1em;
}
.titleContact .redes ul {
  list-style: none;
}
.titleContact .redes li {
  margin: 0.5em 0em;
}
.titleContact .redes a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 400;
}
.titleContact .redes a i {
  color: #00ffcb;
}
.flexContacto .formulario {
  width: 40%;
}
.flexContacto .formulario .input-form {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #00ffcb;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #212121;
}
.flexContacto .formulario .consulta {
  display: block;
  width: 100%;
  margin: 1em auto;
  background-color: #00ffcb;
  padding: 0.5em 1em;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  color: #212121;
}

.consulta,
textarea::placeholder {
  color: #212121;
  opacity: 1;
  font-family: "Roboto", sans-serif;
}
.flexContacto .formulario button.enviar {
  border: none;
  background-color: #6243F7;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  width: 200px;
  padding: 1em;
  text-transform: capitalize;
  border-radius: 15px;
  float: right;
}
a.comprar{
  text-decoration: none;
  color: #212121 !important;
}
a.comprar:hover{
  text-decoration: none;
  color: #00ffcb;
}
/* --------CHAT ------ */
#contentChat {
  transition: transform 0.4s;
  opacity: 0;
  position: fixed;
  z-index: 1111111111;
  bottom: 5vh;
  right: 2vw;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.scroll-down #contentChat {
  transform: translate3d(5, -100%, 5);
  opacity: 1;
}

#contentChat .svgimg {
  filter: drop-shadow(1px 1px 3px #00ffcbb1);
  position: relative;
}
#contentChat p {
  color: #00ffcb;
  position: absolute;
  width: 30%;
  margin-top: -1em;
  text-align: center;
}

/* ------ FOOTER ----- */
footer {
  background-color: #212121;
  height: 80px;
  padding: 0em 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .footerTeam {
  color: #00ffcb;
  font-size: 1rem;
  font-weight: 300;
}
.footerTeam p {
  display: inline-block;
}
.footerTeam ul {
  list-style: none;
}
.footerTeam li {
  display: inline-block;
}
.footerTeam a {
  text-decoration: none;
  color: #00ffcb;
}
.redesFooter a {
  text-decoration: none;
  color: #00ffcb;
  font-size: 1rem;
  margin-right: 0.5em;
}


/* preview carrito */

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 8vh;
  right: 0;
  background-color: #212121;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 4em;
}
.sidebar .closebtn:hover {
  color: #6243f7;
}
.sidebar .title {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em 1em 1em 1em;
  border-bottom: 1px solid #00ffcb;
  transition: all 0.5s;
}
.sidebar .title h4 {
  color: #00ffcb;
  font-size: 1.2rem;
  font-weight: 400;
  margin-right: 0.5em;
}
.sidebar .details {
  width: 200px;
  margin: auto;
  text-align: center;
  padding: 1em 0em;
  border-bottom: 1px solid #00ffcb;
}
.details p {
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.5em;
}
.sidebar .closebtn {
  font-size: 1.5rem;
  color: #fff;
}
.sidebar button {
  width: 150px;
  display: block;
  margin: 1em auto;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #212121;
  font-size: 1rem;
  padding: 0.3em 1em;
  background-color: #00ffcb;
  transform: all 0.5s;
}
.sidebar button:hover {
  background-color: #6243f7;
  color: #00ffcb;
  width: 200px;
  border-radius: 25px;
}


/* ---------- RESPONSIVE --------- */
@media (max-width: 480px) {
  .responsive-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .responsive-two {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1em;
  }
  .navbar {
    flex-direction: column;
  }
  .navbar.logo {
    width: 40%;
  }
  .nav-list {
    display: none;
  }
  .nav-list .nav-item {
    display: block;
    padding: 1em 0.5em;
  }
  .navbar .search {
    width: fit-content;
    box-sizing: border-box;
    float: right;
  }
  .botones-iconos {
    flex-flow: row nowrap;
    width: 30%;
  }
  .button-responsive {
    display: block;
  }
  .button-responsive i {
    color: #fff;
    font-size: 1.5rem;
  }
  .active {
    display: block;
    order: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  
  /* contacto */
  .contactoHome {
    width: 100%;
    background-image: url(../../images/bkg-contacto-responsive.svg);
  }
  .flexContacto {
    padding: 1em;
    position: absolute;
    top: 6.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: flex-start;
  }
  .titleContact {
    width: 100%;
  }
  .titleContact h3 {
    font-size: 2rem;
  }
  .titleContact p {
    font-size: 1rem;
    padding-bottom: 0.2em;
  }
  .titleContact .redes a {
    font-size: 1rem;
  }
  .flexContacto .formulario {
    width: 100%;
  }
  .flexContacto .formulario button.enviar {
    padding: 0.5em;
    font-size: 0.9rem;
  }
  /* footer */
  footer {
    padding: 0em;
    justify-content: space-around;
  }
  footer .footerTeam {
    font-size: 0.8rem;
  }
  .redesFooter a {
    display: block;
  }
}


/* Estilos para motores Webkit y blink (Chrome, Safari, Opera... )*/

::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none !important;
}

::-webkit-scrollbar:vertical {
  width: 0px;
}

::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  width: 0px;
}