<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profesores Hola al Mundo</title>
  <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet" />
  < <link href="/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- Header -->
  <%- include('../partials/header.ejs')%>
    <section class="containerBody">
      <div class="flexPersonal">
        <h1>Configuración personal</h1>
        <form name="form" class="formulario" action="#" method="POST"></form>
        <input class="input-form" placeholder="Nombre" type="text" name="nombre" required>
        <input class="input-form" placeholder="Apellido" type="text" name="apellido" required>
        <input class="input-form" placeholder="Celular" type="text" name="celular" required>
        <input class="input-form disabled" type="email" value="ferrari@gmailcom" readonly>
        <input class="input-form disabled" type="password" value="........" readonly>
        <input class="input-form disabled" id="user" value="profesor" readonly>
        <input class="input-form disabled" type="user_sex" value="mujer" readonly>
        <input class="input-form" placeholder="Dirección" type="text" name="user_address" required>
        <div class="subir">
          <input type="file" name="group-image" id="nuestroinput" class="inputSubir">
        </div>
        </form>
      </div>

    </section>
    <!-- Footer -->
    <%- include('../partials/footer.ejs')%>
      <script src="/js/scriptHeader.js"></script>
</body>

</html>