<!-- CONFIGURACION PROFESORES -->

<!DOCTYPE html>

<html lang="en">

<head>
       <meta charset="UTF-8" />
       <meta http-equiv="X-UA-Compatible" content="IE=edge" />
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <title> Configuración </title>
       <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
       <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
             rel="stylesheet" />
       <link href="/css/normalize.css" rel="stylesheet" />
       <link href="/css/seteoPerfilProfes-2.css" rel="stylesheet" />
       <link rel="stylesheet" href="/css/partialsCss/partials.css">
</head>

<body>

 <%- include('../partials/header.ejs')%>

 <main class="main">
      
       <div class="layer1">
        
            <div class="layer1Container">
                  
                 <div class="greetings"> <h2> Completa tu perfil </h2> </div>

                 <form class="formCuentanos">

                       <label for=""> ¡Contanos más sobre vos! </label>

                       <textarea name="descripcion" id="" placeholder="Hola, soy .."></textarea>

                       <div class="container-button" style="align-self: flex-end !important;"> 
                            <button type="submit" class="continuar"> Continuar </button>
                       </div>

                 </form>

            </div>

       </div>

       <div class="contenedorFoto">
            
            <h2> Subí una foto tuya </h2>
            
            <div class="flexCargar">
                 <div class="cargar"> <i class="fab fa-google-drive"> </i> <p> Drive </p> </div>
                 <div class="cargar"> <i class="fab fa-dropbox"> </i> <p> DropBox </p> </div>
                 <div class="cargar"> <i class="fas fa-upload"> </i> <p> Computadora </p> </div>
            </div>

            <div class="nombreArchivo"> <p> Nombre del archivo </p> </div>
            
            <div class="container-button"> 
                 <input type="file" class="profe-img"> </input>
                 <button class="volver"> Volver </button>
                 <button type="submit" class="continuar"> Continuar </button>
            </div>
      </div>

      <div class="layer3">
        
           <div class="layer3Container">
          
                <div class="container-info-header">
            
                     <div class="container-header">
                          <div class="nombre-profe"> Profesor ...</div>
                          <div class="valor-hora"> <p> Precio por hora </p> </div>
                     </div>

                </div>

                <div class="container-info">
            
                     <div class="foto-perfil">
                          <img class="profeImage" src="/images/imagen-profesor.png">
                     </div>

                     <div class="info-profe">
                          
                          <div class="header-info">
                
                               <div class="idioma">
                                    <div class="ing"> Inglés </div>
                                    <div class="esp"> Español </div>
                                    <div class="ita"> Italiano </div>
                               </div>

                               <div class="ubicacion"> 
                                    <div class="icon"><i class="fas fa-map-marker-alt"> </i> </div>
                                    <div class="ciudad"> Ciudad, Pais </div>
                               </div>

                          </div>

                          <div class="texto-perfil"> <p> Hola, soy... </p> </div>

                     </div>

                </div>

                <div class="categorias">
                     <div class="categoria"> Actualidad </div>
                     <div class="categoria"> Música </div>
                     <div class="categoria"> Deportes </div>
                     <div class="categoria"> Cocina </div>
                </div>

                <div class="container-button">
                     <button class="volver"> Volver </button>
                     <button class="listo"> Continuar </button>
                </div>

           </div>

      </div>

 </main>

 <%- include('../partials/chat.ejs')%>

 <%- include('../partials/footer.ejs')%>

 <script src="/js/scriptHeader.js"></script>

</body>

</html>
