<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profesores Hola al Mundo</title>
  <script src="https://kit.fontawesome.com/3964fc737d.js" crossorigin="anonymous"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link href="/css/normalize.css" rel="stylesheet">
  <link href="/css/seteoPerfilProfes-1.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/partialsCss/partials.css">

</head>

<body>
  <header id="top-header">
    <nav class="navbar" id="main">
      <div class="responsive-one">
        <a class="logo" href="#top-header">
          <img src="/images/logo.svg" alt="logo">
        </a>
        <div class="search">
          <i class="fas fa-search"></i>
          <input class="input" type="search" name="buscar" placeholder="Buscar">
        </div>
      </div>
      <ul class="nav-list" id="navList">
        <li class="nav-item">
          <a class="border" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a href="#"> Profesores</a>
        </li>
        <li class="nav-item">
          <a href="#"> Paquetes</a>
        </li>
        <li class="nav-item">
          <a href="#"> Contacto</a>
        </li>
        <li class="nav-item">
          <a href="#">En</a>
        </li>
      </ul>
      <div class="responsive-two">
        <div class="button-responsive" id="toggle-button">
          <i class="fas fa-bars"></i>
        </div>
        <div class="botones-iconos">
          <i class="far fa-heart"></i>
          <button class="carrito" onclick="openNav()">
            <i class="fas fa-shopping-cart"></i>
          </button>
          <div class="dropdown">
            <button class="dropbtn">
              <i class="far fa-user-circle"></i>
            </button>
            <!-- submenu -->
            <div class="dropdown-content">
              <div class="drop-header">
                <i class="far fa-user-circle"></i>
                <h4>Usuario</h4>
              </div>
              <ul>
                <li>Membresías</li>
                <li>Da clases</li>
                <li>Mis cursos</li>
              </ul>
              <ul>
                <li>Configuración</li>
                <li>Métodos de pago</li>
                <li>Historial de compra</li>
              </ul>
              <ul>
                <li>Idiomas</li>
              </ul>
              <ul>
                <li>Editar perfil</li>
              </ul>

              <ul class="outline">
                <li>Ayuda</li>
                <li>Cerrar sesión</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main class="container-main">
    <section class="container-filtros">

      <div class="formPaquetes">
        <div class="container-header">
          <h2>Crea tus paquetes</h2>
        </div>
        <form action="" method="post">
          <div class="contentInput">
            <input class="inputPaquete" type="text" name="name" id="name" placeholder="Nombre del paquete: ">
          </div>
          <div class="inputPaquete">
            <label for="lenguaje">Idioma que vas a enseñanar:</label>
            <select id="cars" name="carlist" form="carform">
              <option value="ing">Ingles</option>
              <option value="es">Español</option>
              <option value="port">Portugues</option>
              <option value="ita">Italiano</option>
            </select>
          </div>
          <div class="inputPaquete">
            <label for="dias">Dias disponibles:</label>
            <div class="check">
              <div>
                <input type="checkbox" value="lunes"> Lunes
              </div>
              <div>
                <input type="checkbox" value="Martes"> Martes
              </div>
              <div>
                <input type="checkbox" value="Miercoles"> Miércoles
              </div>
              <div>
                <input type="checkbox" value="jueves"> Jueves
              </div>
              <div>
                <input type="checkbox" value="Viernes"> Viernes
              </div>
              <div>
                <input type="checkbox" value="sabado"> Sábado
              </div>
              <div>
                <input type="checkbox" value="domingo"> Domingo
              </div>
            </div>

          </div>
          <!-- <div class="btnNext">
            <button class="next">Continuar<i class="fas fa-angle-down"></i> </button>
          </div> -->
          <div id="contentTwo">
            
           <!--  <div class="btnBack">
              <button class="back"> <i class="fas fa-angle-up"></i> Volver </button>
            </div> -->
            <div class="inputPaquete">
              <label for="lenguaje">Horarios disponibles:</label>
              <div class="check">
                <div>
                  <input type="checkbox" value="#"> 08:00 a 9:00
                </div>
                <div>
                  <input type="checkbox" value="#"> 10:00 a 11:00
                </div>
                <div>
                  <input type="checkbox" value="#"> 14:00 a 15:00
                </div>
              </div>
              <div class="check">
                <div>
                  <input type="checkbox" value="#"> 16:00 a 17:00
                </div>
                <div>
                  <input type="checkbox" value="#"> 18:00 a 19:00
                </div>
                <div>
                  <input type="checkbox" value="#"> 20:00 a 21:00
                </div>
              </div>
            </div>
            <div class="inputPaquete">
              <label for="lenguaje">Nivel a enseñar:</label>
              <select id="cars" name="carlist" form="carform">
                <option value="basico">Básico</option>
                <option value="medio">Medio</option>
                <option value="avanzado">Avanzado</option>
              </select>
            </div>
            <div class="inputPaquete">
              <label for="lenguaje">Temáticas de interes:</label>
              <div class="check">
                <div>
                  <input type="checkbox" value="#"> Naturaleza
                </div>
                <div>
                  <input type="checkbox" value="#"> Música
                </div>
                <div>
                  <input type="checkbox" value="#"> Deportes
                </div>
                <div>
                  <input type="checkbox" value="#"> Profesiones
                </div>
                <div>
                  <input type="checkbox" value="#"> Viajes
                </div>
              </div>
            </div>
            <div class="inputPaquete">
              <label for="price">Precio por hora:</label>
              <input type="text" name="price" id="price" class="price">
            </div>
            <div class="btnNext">
              <button class="next">crear<i class="fas fa-check"></i></i> </button>
            </div>
          </div>

        </form>
      </div>
      <!-- <div class="layerFiltros">
        <div class="layer-idioma">
          <button type="button" class="cardFiltrosHorario">
            Seleccionar Idioma <i class="fas fa-caret-down"></i>
          </button>
          <div class="filtro-idiomas-formulario">
            <div class="grupo1">
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                <label for="español">Español</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                <label for="ingles">Ingles</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                <label for="portugues">Portugués</label>
              </div>
            </div>
            <div class="grupo2">
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                <label for="italiano">Italiano</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Aleman</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Mandarin</label>
              </div>
            </div>
            <div class="grupo3">
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Ruso</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Koreano</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Japones</label>
              </div>
            </div>
          </div>
        </div>
        <div class="layer-tematicas">
          <button type="button" class="cardFiltrosHorario">
            Seleccionar Tematicas <i class="fas fa-caret-down"></i>
          </button>
          <div class="filtro-tematicas-formulario">
            <div class="grupo1">
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                <label for="español">Conversacion</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                <label for="ingles">Clases</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                <label for="portugues">Viajes</label>
              </div>
            </div>
            <div class="grupo2">
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                <label for="italiano">Culinaria</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Deportes</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Cultura</label>
              </div>
            </div>
            <div class="grupo3">
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Rumba</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Caminatas</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Diversion</label>
              </div>
            </div>
          </div>
        </div>
        <div class="layer-profesion">
          <button type="button" class="cardFiltrosHorario">
            Seleccionar Profesion <i class="fas fa-caret-down"></i>
          </button>
          <div class="filtro-profesion-formulario">
            <div class="grupo1">
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="español" id="español" class="input-control">
                <label for="español">Abogado</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="ingles" id="ingles" class="input-control">
                <label for="ingles">Contador</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="portugues" id="portugues" class="input-control">
                <label for="portugues">Administrador</label>
              </div>
            </div>
            <div class="grupo2">
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="italiano" id="italiano" class="input-control">
                <label for="italiano">Economista</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Chef</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Atleta</label>
              </div>
            </div>
            <div class="grupo3">
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Filosofo</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Ingeniero</label>
              </div>
              <div class="form-group">
                <input type="checkbox" name="idiomas" value="aleman" id="aleman" class="input-control">
                <label for="aleman">Artista</label>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="container-button">
        <button type="button">Continuar</button>
      </div> -->
    </section>
  </main>
  <!-- chat -->
  <!-- <%- include('../partials/chat.ejs')%> -->
  <!-- Footer -->
  <%- include('../partials/footer.ejs')%>

</body>

</html>